﻿@{
    Layout = "~/views/Layouts/_Layout.cshtml";
}
@using System.Data;
@using System.IO;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + empresa + "/Login");
    }
    Usuario usuarioEditar = new Usuario(ctx, (String)Context.GetRouteValue("login"));
    Seguridad seguridad = new Seguridad(ctx);
    DataTable dt = seguridad.listarRoles();
    Auxiliares aux = new Auxiliares(ctx);
    DataTable dtAsesores = aux.listarAsesores();
}

@if (IsPost)
{            

    foreach (DataRow row in dt.Rows)
    {                
        int codigoRol = Int32.Parse(row["Codigo_Rol"].ToString());
        if (Request.Form[row["Nombre"].ToString()] == "on")
        {
            if (codigoRol == Rol.rolCotizar)
            {
                usuarioEditar.registrarEnRol(codigoRol, int.Parse(Request.Form["asesores"].ToString()));
            }
            else
            {
                usuarioEditar.registrarEnRol(codigoRol, -1);
            }
        }
        else
        {
            usuarioEditar.eliminarDeRol(codigoRol);
        }
    }

    if (Request.Form["contrasena1"].ToString() != "" && Request.Form["contrasena2"].ToString() != "" &&
        Request.Form["contrasena1"].ToString() == Request.Form["contrasena2"].ToString()) {

        usuarioEditar.cambiarPassword(Request.Form["contrasena1"]);
    
    }

    <div class="form-group">
        <div> Cambios logrados Exitosamente </div>
    </div>    
    usuarioEditar = new Usuario(ctx, (String)Context.GetRouteValue("login"));
}


<form id="formEditarUsuario" method="post" name="formEditarUsuario" class="bv-form">  
    <div class="box-body">
        
        <div class="form-group">
            <label for="Usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" class="form-control" value="@usuarioEditar.login" disabled="disabled"/>
        </div>     
        
        <div class="form-group">
            <label for="contrasena1">Nueva Contraseña</label>
            <input type="text" id="contrasena1" name="contrasena1" class="form-control" placeholder="Contraseña"/>
        </div>  
        
        <div class="form-group">
            <label for="contrasena2">Repetir Contraseña Nueva</label>
            <input type="text" id="contrasena2" name="contrasena2" class="form-control" placeholder="Contraseña"/>
        </div>  
            
        <div class="form-group">
            <label for="info">*** Este campo puede quedar vacío</label>
        </div>     
        
        <div class="form-group">
            <label for="info">Permisos de Usuario: </label>
        </div>                     
        
        @foreach (DataRow row in dt.Rows)
            {
                <div class="form-group">
                    @if (usuarioEditar.perteneceARol(Int32.Parse(row["Codigo_Rol"].ToString())))
                    { 
                        <input type="checkbox" id="@row["Nombre"]" name="@row["Nombre"]" checked="checked"/>
                    }
                    else
                    {
                        <input type="checkbox" id="@row["Nombre"]" name="@row["Nombre"]"/>
                    }
                    <label class="control-label">@row["Nombre"] </label>

                    @if (Int32.Parse(row["Codigo_Rol"].ToString()) == Rol.rolCotizar) { 
                        <select id="asesores" class="form-control" name="asesores"> 
                            @foreach (DataRow dr in dtAsesores.Rows)
                            {
                                if (usuarioEditar.obtenerAsociacionDeRol(Rol.rolCotizar) == int.Parse(dr["Codigo_Asesor"].ToString()))
                                {
                                    <option value="@dr["Codigo_Asesor"]" selected="selected">@dr["Nombre"]</option> 
                                }
                                else { 
                                    <option value="@dr["Codigo_Asesor"]">@dr["Nombre"]</option> 
                                }
                            }    
                        </select>
                    }

                </div> 
            }

                      

        <div class="form-group">
            <div id="messages"></div>
        </div>
        
            
            
        

    </div>
    <!-- /.box-body -->
    
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        @*<a href="/Home" ><button type="button" id="volver" class="btn">Volver</button></a>*@
    </div>
</form>
