﻿@{
    Layout = "~/views/Layouts/_Layout.cshtml";
}

@using System.Data;
@using System.IO;
@using System.Web.Helpers;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + empresa);
    }
    string stringErrors = "Este campo es obligatorio"; 
}

@if (IsPost)
{

    if (Request.Form["nombre"] != null && Request.Form["nombre"] != "")
    {

        Auxiliares aux = new Auxiliares(ctx);
        bool esSup = false;
        if (Request.Form["supervisor"] != null && Request.Form["supervisor"].ToString() == "on")
        {
            esSup = true;
        }
        int codigoAsesor = aux.agregarAsesor(Request.Form["nombre"].ToString(), esSup);

        //Response.Redirect("/" + empresa + "/EditarAsesor/" + codigoAsesor); 
        Response.Redirect("/" + empresa + "/Asesores"); 
    }
}

<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"> Creando un Asesor *</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form id="formCrearAsesor" method="post" name="formCrearAsesor" class="bv-form" data-toggle="validator">  
                <div class="box-body">

                    <div class="form-group">
                        <label for="Nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" required data-required-error="@stringErrors">
                        <div class="help-block with-errors"></div>
                    </div>                    

                    <div class="form-group">
                        <label for="supervisor">Es Supervisor</label>
                        <input type="checkbox" id="supervisor" name="supervisor"/>
                    </div>
                   
                    <div class="form-group">
                        <div id="messages"></div>
                    </div>

                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
                <!-- /.box-body -->                
            </form>
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (left) -->

</div>
<!-- /.row -->
