﻿@{
    Layout = "~/views/Layouts/_Layout.cshtml";
}

@using System.Data;
@using System.IO;
@using System.Web.Helpers;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + empresa);
    }
    Asesor asesor = new Asesor(ctx, int.Parse(Context.GetRouteValue("codigo_asesor").ToString()));
    string stringErrors = "Este campo es obligatorio"; 
}

@if (IsPost)
{

    if (Request.Form["nombre"] != null && Request.Form["nombre"] != "")
    {

        
        bool esSup = false;
        if (Request.Form["supervisor"] != null && Request.Form["supervisor"].ToString() == "on")
        {
            esSup = true;
        }
        asesor.actualizarCampos(Request.Form["nombre"].ToString(), esSup);

        Response.Redirect("/" + empresa + "/Asesores");
    }

}


<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"> Editando un Asesor</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form id="formEditarAsesor" method="post" name="formEditarAsesor" class="bv-form" data-toggle="validator">  
                <div class="box-body">

                    <div class="form-group">
                        <label for="Nombre">Nombre *</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" value="@asesor.nombre" required data-required-error="@stringErrors">
                        <div class="help-block with-errors"></div>
                    </div>                    
                    @{
                       string seleccionado = asesor.es_supervisor ? "checked=\"checked\"": ""; 
                    }
                    <div class="form-group">
                        <label for="supervisor">Es Supervisor</label>
                        <input type="checkbox" id="supervisor" name="supervisor" @seleccionado/>
                    </div>
                   

                    <div class="form-group">
                        <div id="messages"></div>
                    </div>



                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
                <!-- /.box-body -->                
            </form>
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (left) -->

</div>
<!-- /.row -->
