﻿
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    int destino = int.Parse((String)Context.GetRouteValue("codigo_destino"));
    int codigo_destino_promo = -1;
    Destino dests = new Destino(ctx);
    try {
        codigo_destino_promo = int.Parse((String)Context.GetRouteValue("codigo_destino_promo"));
    }catch{}
    
}

@if (destino == 2) //destinos nacionales
{
    <select id="destinos" class="form-control" name="destinos"> 
        @foreach (int dest in dests.destinos)
        {
            if (dest == codigo_destino_promo) {
                <option selected value="@dest">@Destino.valorDestino(dest)</option>
            } else {
                <option value="@dest">@Destino.valorDestino(dest)</option>
            }
        }        
    </select> 

}
else if (destino == 3) //destinos internacionales
{    

    <select id="destinos" class="form-control" name="destinos"> 
        @foreach (int dest in dests.destinosInternac)
        {
            if (dest == codigo_destino_promo) {
                <option selected value="@dest">@Destino.valorDestinoInternacionales(dest)</option>
            } else {
                <option value="@dest">@Destino.valorDestinoInternacionales(dest)</option>
            }
        }            
    </select> 
}
else if (destino == 4) //destinos cruceros
{    

    <select id="destinos" class="form-control" name="destinos"> 
        @foreach (int dest in dests.destinosCruceros)
        {
            if (dest == codigo_destino_promo) {
                <option selected value="@dest">@Destino.valorCruceros(dest)</option>
            } else {
                <option value="@dest">@Destino.valorCruceros(dest)</option>
            }
        }            
    </select> 
}
else if (destino == 5) //destinos especiales
{    

    <select id="destinos" class="form-control" name="destinos"> 
        @foreach (int dest in dests.destinosEspeciales)
        {
            if (dest == codigo_destino_promo) {
                <option selected value="@dest">@Destino.valorEspeciales(dest)</option>
            } else {
                <option value="@dest">@Destino.valorEspeciales(dest)</option>
            }
        }            
    </select> 
}
else if (destino == 6) //destinos servicios
{    

    <select id="destinos" class="form-control" name="destinos"> 
        @foreach (int dest in dests.destinosServicios)
        {
            if (dest == codigo_destino_promo) {
                <option selected value="@dest">@Destino.valorServicios(dest)</option>
            } else {
                <option value="@dest">@Destino.valorServicios(dest)</option>
            }
        }            
    </select> 
}
else if (destino == 7) //hoteles corporativos
{    

    <select id="destinos" class="form-control" name="destinos"> 
        @foreach (int dest in dests.destinosHotelesCorporativos)
        {
            if (dest == codigo_destino_promo) {
                <option selected value="@dest">@Destino.valorHotelesCorporativos(dest)</option>
            } else {
                <option value="@dest">@Destino.valorHotelesCorporativos(dest)</option>
            }
        }            
    </select> 
}
else 
{    
    
}





