﻿@{
    Layout = "~/views/Layouts/_Layout.cshtml";

}
@using System.Data;
@using System.IO;
@using System.Net;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");
    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    BaseContext ctx_prod = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa+"_prod"].ConnectionString);
    bool OcurreError = false;
    //int codigo_promocion = int.Parse(Context.GetRouteValue("codigo_promocion"));
    int modificadas = -1;
    try {
        modificadas = int.Parse(Context.GetRouteValue("modificada"));
    }catch{}
    Promociones promos = new Promociones(ctx);
    Promociones promos_prod = new Promociones(ctx_prod);
    DataTable tabla_de_promos = new DataTable();
    if (modificadas == 1){
        //publicare solo las modificadas
        tabla_de_promos = promos.listarSoloModificadas();
    } else if (modificadas == 0){
        //publicare todas
        tabla_de_promos = promos.listarPromociones(false,false);
    } else {
        int cod = int.Parse(Context.GetRouteValue("codigo_promocion"));
        tabla_de_promos = promos.listarPromociones(cod);
    }
    //cambiamos el contexto a produccion
    
    List<PromoCotizaciones.business.Resultados> resultados = new List<PromoCotizaciones.business.Resultados>(),
                                            resultadosEliminando = new List<PromoCotizaciones.business.Resultados>();
    if (tabla_de_promos.Rows.Count > 0) {
        // realizamos la publicacion
        PromoCotizaciones.business.FTP ftp = new PromoCotizaciones.business.FTP();
        foreach (DataRow dr in tabla_de_promos.Rows) {
            if ((bool)dr["Activa"]) {                
                int codigo_promocion = int.Parse(dr["Codigo_Promocion"].ToString());
                Promocion promocion = null;
                try
                {
                    try {
                        promocion = new Promocion(ctx_prod, codigo_promocion);
                    } catch{}

                    int tipo = int.Parse(dr["Tipo"].ToString()),
                            clasificacion = int.Parse(dr["Codigo_Clasificacion"].ToString()),
                            sub_clasificacion = int.Parse(String.IsNullOrEmpty(dr["Codigo_Subclasificacion"].ToString()) ? "0" : dr["Codigo_Subclasificacion"].ToString()),
                            orden = int.Parse(String.IsNullOrEmpty(dr["Orden"].ToString()) ? "-1" : dr["Orden"].ToString());
                    string titulo = dr["Titulo"].ToString(),
                           subtitulo = dr["Subtitulo"].ToString(),
                           grupo = dr["Grupo"].ToString(),
                           seo_url = dr["Seo_Url"].ToString(),
                           color_titulos = dr["Color_Titulos"].ToString(),
                           link = dr["Link"].ToString(),
                           tarifa_moneda = dr["Tarifa_Consolidada_Moneda"].ToString(),
                           tarifa_tipo = dr["Tarifa_Consolidada_Tipo"].ToString();
                    DateTime desde = DateTime.Parse(dr["Valida_Desde"].ToString()),
                             hasta = DateTime.Parse(dr["Valida_Hasta"].ToString()),
                             public_desde = DateTime.Parse(dr["publicacion_desde"].ToString()),
                             public_hasta = DateTime.Parse(dr["publicacion_hasta"].ToString());
                    bool destacado = bool.Parse(dr["Destacado"].ToString());
                    decimal tarifa = Decimal.Parse(dr["Tarifa_Consolidada"].ToString());
                    
                    //la promocion existe en produccion, por lo tanto hay que actualizar
                    if (promocion != null) {
                        //actualizar promocion en produccion..
                        if (Tipo_Promocion.esPromoGeneral(tipo)){
                            promos_prod.actualizarPromocionProd(
                            codigo_promocion, clasificacion, sub_clasificacion, orden,
                            tarifa_moneda, tarifa, tarifa_tipo, titulo, subtitulo, desde,
                            hasta, true, grupo, seo_url, color_titulos, link, destacado, tipo, public_desde, public_hasta);
                        }
                        else if (Tipo_Promocion.esPromoViaje(tipo))
                        {
                            Promocion_Viaje promo_viaje = new Promocion_Viaje(ctx, codigo_promocion);                                                   
                            promos_prod.actualizarPromocionProd(
                            codigo_promocion, clasificacion, sub_clasificacion, orden,
                            tarifa_moneda, tarifa, tarifa_tipo, titulo, subtitulo, desde,
                            hasta, true, grupo, seo_url, color_titulos, link, destacado, tipo, 
                            public_desde, public_hasta, promo_viaje.operador, promo_viaje.codigo_asesor);
                        }                        
                        
                        //elimina las tarifas de la promocion existente
                        DataTable tarifas_eliminar = promos_prod.listarTarifa(codigo_promocion);
                        if (tarifas_eliminar.Rows.Count > 0)
                        {
                            foreach (DataRow drt in tarifas_eliminar.Rows)
                            {
                                promos_prod.eliminarTarifa(codigo_promocion, int.Parse(drt["Orden_Tarifa"].ToString()));
                            }
                        }
                        //elimina los textos libres de la promocion existente
                        DataTable texto_libre_eliminar = promos_prod.listarTextosLibres(codigo_promocion);
                        if (texto_libre_eliminar.Rows.Count > 0)
                        {
                            foreach (DataRow drt in texto_libre_eliminar.Rows)
                            {
                                promos_prod.eliminarTextoLibre(codigo_promocion, drt["Titulo_Texto_Libre"].ToString());
                            }
                        }
                    }else { //la promocion NO existe en produccion y hay que agregarla
                        
                        //Promocion de tipo GENERAL
                        if (Tipo_Promocion.esPromoGeneral(tipo))
                        {
                            codigo_promocion =
                                promos_prod.agregarPromocion(
                                     codigo_promocion, clasificacion, sub_clasificacion, orden, tarifa_moneda,
                                     tarifa, tarifa_tipo, titulo, subtitulo, desde, hasta, true, grupo,
                                     seo_url, color_titulos, destacado, link, tipo, public_desde, public_hasta);


                        }
                        //promocion de tipo VIAJES
                        else if (Tipo_Promocion.esPromoViaje(tipo))
                        {
                            Promocion_Viaje promo_viaje = new Promocion_Viaje(ctx,codigo_promocion);
                            codigo_promocion =
                                promos_prod.agregarPromocion(
                                     codigo_promocion, clasificacion, sub_clasificacion, orden, tarifa_moneda,
                                     tarifa, tarifa_tipo, titulo, subtitulo, desde, hasta, true, grupo,
                                     seo_url, color_titulos, destacado, link, tipo, public_desde, public_hasta, 
                                     promo_viaje.operador, promo_viaje.codigo_asesor);
                        }
                        
                    }
                    //agrega las tarifas de la promocion que se esta subiendo
                    DataTable tarifas = promos.listarTarifa(codigo_promocion);
                    if (tarifas.Rows.Count > 0)
                    {
                        int i = 0;
                        foreach (DataRow drt in tarifas.Rows)
                        {
                            promos_prod.registrarTarifaPromocion(codigo_promocion, drt["Descripcion"].ToString(), drt["Codigo_Moneda"].ToString(), float.Parse(drt["Monto"].ToString()), i);
                            i++;
                        }
                    }

                    //agrega los textos libres de la promocion que se esta subiendo
                    DataTable texto_libre = promos.listarTextosLibres(codigo_promocion);
                    if (texto_libre.Rows.Count > 0)
                    {
                        foreach (DataRow drt in texto_libre.Rows)
                        {
                            promos_prod.registrarTextoLibre(codigo_promocion, drt["Titulo_Texto_Libre"].ToString(), drt["Texto_Libre"].ToString(), int.Parse(drt["Orden"].ToString()));                            
                        }
                    }

                    resultados.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, null, "Se actualizó la Promocion en la BD del servidor FTP correctamente"));

                    //tratar de crear el directorio de archivos del servidor FTP,
                    //si ya existe arroja excepcion pero no nos interesa
                    bool seCreoNuevo = true;
                    try {
                        ftp.CreateFTPDirectory("/promociones/fotos/galerias/paquete" + codigo_promocion);
                    }
                    catch{
                        seCreoNuevo = false;
                    }
                    //eliminar archivos del servidor FTP 
                    //eliminar archivos del servidor FTP, Galeria de imagenes.   
                    if (!seCreoNuevo){    
                        try { ftp.DeleteFTPDirectory("/promociones/fotos/galerias/paquete" + codigo_promocion); }
                        catch (WebException ex)
                        {
                            FtpWebResponse response = (FtpWebResponse)ex.Response;
                            if (response.StatusCode ==
                                FtpStatusCode.ActionNotTakenFileUnavailable)
                            {
                                //Does not exist
                            } else {
                                OcurreError = true;
                                resultadosEliminando.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, ex, "Hubo un error eliminando la galeria en el FTP"));
                            }
                        }
                        catch (ArgumentOutOfRangeException ex){
                        }
                        catch (Exception ex) { resultadosEliminando.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, ex, "Hubo un error eliminando la galeria en el FTP")); }
                        //eliminar archivos del servidor FTP, Banner.     
                        try { ftp.DeleteFTPFile("/promociones/banners/banner_" + codigo_promocion); }
                        catch (WebException ex)
                        {
                            FtpWebResponse response = (FtpWebResponse)ex.Response;
                            if (response.StatusCode ==
                                FtpStatusCode.ActionNotTakenFileUnavailable)
                            {
                                //Does not exist
                            }
                            else
                            {
                                OcurreError = true;
                                resultadosEliminando.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, ex, "Hubo un error eliminando la galeria en el FTP"));
                            }
                        }
                        catch (ArgumentOutOfRangeException ex)
                        {
                        }
                        catch (Exception ex) { resultadosEliminando.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, ex, "Hubo un error eliminando el banner en el FTP")); }
                        //eliminar archivos del servidor FTP, PDF.     
                        try { ftp.DeleteFTPFile("/promociones/attachments/attachment_" + codigo_promocion); }
                        catch (WebException ex)
                        {
                            FtpWebResponse response = (FtpWebResponse)ex.Response;
                            if (response.StatusCode ==
                                FtpStatusCode.ActionNotTakenFileUnavailable)
                            {
                                //Does not exist
                            }
                            else
                            {
                                OcurreError = true;
                                resultadosEliminando.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, ex, "Hubo un error eliminando la galeria en el FTP"));
                            }
                        }
                        catch (ArgumentOutOfRangeException ex)
                        {
                        }
                        catch (Exception ex) { resultadosEliminando.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, ex, "Hubo un error eliminando el PDF en el FTP")); }
                    }
                
                    //agregar todos los elementos de la promocion en el serv FTP
                    //primero se suben los archivos que estan en la galeria
                    DirectoryInfo directory = new DirectoryInfo(this.Server.MapPath("~/App_Content/"+empresa+"/promociones/fotos/galerias/paquete"+codigo_promocion));
                    FileInfo[] files = directory.GetFiles("*.*");
                
                    foreach (var fot in files)
                    {
                        try {
                            ftp.UploadFTPFile("/promociones/fotos/galerias/paquete"+ codigo_promocion+"/"+fot.Name, fot);
                        }
                        catch (Exception ex)
                        {
                            OcurreError = true;
                            resultados.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, ex, "Hubo un error subiendo la galeria de fotos"));
                        }        
                    }
                    //segundo se suben los que estan en el header, banner y PDF..
                    //banner
                    string archivo = this.Server.MapPath("~/App_Content/" + empresa + "/promociones/banners/banner_" + codigo_promocion + ".jpg");
                    FileInfo fi = new FileInfo(archivo);
                
                    try
                    {
                        if (File.Exists(archivo)) {
                            ftp.UploadFTPFile("/promociones/banners/"+fi.Name, fi);
                        }
                    }
                    catch (Exception ex)
                    {
                    
                        OcurreError = true;
                        resultados.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, ex, "Hubo un error subiendo el banner"));
                    
                    }

                    //PDFs
                    archivo = this.Server.MapPath("~/App_Content/" + empresa + "/promociones/attachments/attachment_" + codigo_promocion + ".pdf");
                    fi = new FileInfo(archivo);
                    try
                    {
                        if (File.Exists(archivo)) {
                            ftp.UploadFTPFile("/promociones/attachments/"+fi.Name, fi);
                        }
                    }
                    catch (Exception ex)
                    {
                        OcurreError = true;
                        resultados.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, ex, "Hubo un error subiendo el PDF"));
                    }  
                
                    if (!OcurreError) {
                        resultados.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, null, "Se actualizaron las carpetas de la Promocion del servidor FTP correctamente"));
                    }
                
                    //queda setear el status de modificada a 0.
                    promos.actualizarStatusModificada(codigo_promocion,0);
                }
                catch (Exception ex)
                {
                    resultados.Add(new PromoCotizaciones.business.Resultados(codigo_promocion, ex, "Hubo un error actualizando o agregando la promocion"));
                    //throw ex;
                }
            
            }
        }
        
            
    } else {
        //No hay nada que publicar
    
    }
    
    
}

<!--resultados subiendo al FTP y creando la promocion-->
<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            Resultados obtenidos con la publicacion de la promocion</h3>
    </div>

    <!-- /.box-header -->

    <div class="box-body table-responsive">
        <table id="example2" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Mensaje
                    </th>
                    <th>
                        Error
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in resultados)
                {                                                             
                    <tr> 
                        <td>@result.codigo_promocion
                        </td>
                        <td>
                            @result.mensaje
                        </td>
                        <td>
                            @(result.error != null ? result.error.ToString() : "Sin Errores")
                        </td>
                        
                    </tr>                
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

    <!-- /.box-body -->
</div>
<!-- /.box -->


<!--resultados eliminando al FTP -->
<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            Resultados obtenidos Eliminando del servidor FTP</h3>
    </div>

    <!-- /.box-header -->

    <div class="box-body table-responsive">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Mensaje
                    </th>
                    <th>
                        Error
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in resultadosEliminando)
                {                                                             
                    <tr> 
                        <td>@result.codigo_promocion
                        </td>
                        <td>
                            @result.mensaje
                        </td>
                        <td>
                            @(result.error != null ? result.error.ToString() : "Sin Errores")
                        </td>
                        
                    </tr>                
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>

    <!-- /.box-body -->
</div>
<!-- /.box -->

