﻿@{
    Layout = "~/views/Layouts/_LayoutError.cshtml";

    String e = (String)Session["error"];
}



<div class="row">
    <div class="col-md-8">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"> Ha ocurrido un error</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
            <div class="box-body">

                <p>
                    Estimado Usuario:<br /><br />
                    Ha ocurrido un error interno en la aplicación. El mismo ha sido informado al administrador del website para ser solucionado.<br />
                    @e
                </p>

            </div>
                
        </div>
        <!-- /.box -->
    </div>
    <!--/.col (left) -->

</div>
<!-- /.row -->
