﻿@{
    Layout = "~/views/Layouts/_Layout.cshtml";
}

@using System.Data;
@using System.IO;
@using PromoCotizaciones.business;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + empresa);
    }
    Auxiliares aux = new Auxiliares(ctx);
    DataTable dt = aux.listarAsesores();
}
<div class="box">
    <div class="box-footer">
        <button class="btn btn-primary">
            <a class="letrasBlancas" href="/@empresa/CrearAsesor"><span>Registrar Asesor</span></a>
        </button>
    </div>
    <div class="box-body table-responsive">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Codigo de Asesor</th>
                    <th>Nombre</th>
                    <th>Es Supervisor</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>                           
                @foreach (DataRow row in dt.Rows)
                {
                    string supervisor = "No";
                    <tr>                                         
                        <td>  @row["Codigo_Asesor"].ToString()</td>
                        <td> <a href="/@empresa/EditarAsesor/@row["Codigo_Asesor"].ToString()"> @row["Nombre"].ToString() </a> </td>
                        @if ((bool)row["Supervisor"])
                        {
                            supervisor = "Si";
                        }
                        <td> @supervisor </td>
                                            
                        <td>  
                        <a href="/@empresa/EliminarAsesor/@row["Codigo_Asesor"].ToString()" onclick="return confirm('¿Estas seguro?');" type="submit"> <span class="glyphicon glyphicon-trash" ></span> </a> </td>  
                    </tr>
                }

            </tbody>            
        </table>
    </div>

    
</div>