﻿@using System.Data;
@using System.IO;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
                
        <!-- DATA TABES SCRIPT -->
        <link href="/Content/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
        <script src="/Scripts/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="/Scripts/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>


    </head>
    <body>
                
        @RenderBody()

<script type="text/javascript">
    $(document).ready(function () {
        $('#example1').dataTable({
            "aaSorting": []
        });
    });
    $(document).ready(function () {
        $('#example2').dataTable({
            "aaSorting": []
        });
    });

    
    $(document).ready(function () {
        $('.tablas').dataTable({
            
            "aaSorting": [],
            "aLengthMenu": [[20, 100, 500, -1], [20, 100, 500, "Todos"]],
            "iDisplayLength": 20,
            "oLanguage": {
                "sInfo": "Mostrando _START_ a _END_ promociones. Total: _TOTAL_ ",
                "sInfoEmpty": "Sin resultados",
                "sInfoFiltered": "(Filtrando promociones de un total de _MAX_ )",
                "sSearch": "Búsqueda: ",
                "sLengthMenu": "_MENU_ Promociones por página",
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                    "sLast": "Ultimo",
                    "sFirst": "Primero",
                }
            }   
            
        });
    });

    $(document).ready(function () {
        $('.tablas_list_promo').dataTable({
            "aaSorting": [],
            "aLengthMenu": [[20, 100, 500, -1], [20, 100, 500, "Todos"]],
            "iDisplayLength": 20,
            "oLanguage": {
                "sInfo": "Mostrando _START_ a _END_ promociones. Total: _TOTAL_ ",
                "sInfoEmpty": "Sin resultados",
                "sInfoFiltered": "(Filtrando promociones de un total de _MAX_ )",
                "sSearch": "Búsqueda: ",
                "sLengthMenu": "_MENU_ Promociones por página",
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                    "sLast": "Ultimo",
                    "sFirst": "Primero",
                }
            }   
            
        });
    });
    
</script>

           
    </body>
</html>