﻿@using System.Data;
@using System.IO;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;

@{
    
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + empresa );
    }

    string titulo = (String)Context.GetRouteValue("titulo");
    string interno = "";
    int valor = 0;
    try{
        valor = int.Parse((String)Context.GetRouteValue("codigo_nombre"));
        switch (valor) {
            case 1:
                interno = (String)Context.GetRouteValue("codigo_promocion");
                break;
            case 2:
                interno = (String)Context.GetRouteValue("codigo_cotizacion");
                break;
            case 3:
                interno = (String)Context.GetRouteValue("login");
                break;
            case 4:
                //interno = (String)Context.GetRouteValue("codigo_asesor");
                Asesor asesornombre = new Asesor(ctx, int.Parse(Context.GetRouteValue("codigo_asesor").ToString()));
                interno = asesornombre.nombre;
                break;
            default:
                break;
        }
    } catch {
    
    }
    
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>Promocotizaciones - @titulo @(valor > 0 ? interno:"")</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- font Awesome -->
        <link href="/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="/Content/css/ionicons.min.css" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="/Content/css/AdminLTE.css" rel="stylesheet" type="text/css" />

        <link href="/Content/css/passariniStyle.css" rel="stylesheet" type="text/css" />
        

       @* <link href="../../Content/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet"
            type="text/css" />*@

             <link href="/Content/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet"
            type="text/css" />


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

          
        @RenderSection("scripts", required: false)

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css"/>
        <!--
            <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"> </script>
        -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"> </script>

        <script type="text/javascript" src="/Scripts/js/passariniJs.js"></script>

        <link href="/Content/jhtmlEditor/jHtmlArea.css" rel="stylesheet" type="text/css"/>
        <script src="/Content/jhtmlEditor/jHtmlArea.js" type="text/javascript"></script>
        


        <!-- jQuery 2.0.2 -->
        @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>*@
        <!-- Bootstrap -->
        <script src="/Scripts/js/bootstrap.min.js" type="text/javascript"></script>
                
        <!-- Bootstrap -->
        
        <!-- DATA TABES SCRIPT -->
        <link href="/Content/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
        <script src="/Scripts/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="/Scripts/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

        <script src="/Scripts/js/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>
        
        <!-- AdminLTE App -->
        <script src="/Scripts/js/AdminLTE/app.js" type="text/javascript"></script>

        <!-- Rating star -->
        <script src="/Scripts/rating_star/bootstrap-rating-input.js" type="text/javascript"></script>
        
        @*<script src="../../Scripts/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"
            type="text/javascript"></script>*@

            <script src="/Scripts/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"
            type="text/javascript"></script>

        <!--DATEPICKER
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">        
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
        <script type="text/javascript" src="/adminTLE/plugins/datepicker/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="/adminTLE/plugins/datepicker/datepicker3.css" />
        <script src="/adminTLE/plugins/datepicker/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>   
       
        <script>
            $(function () {
                $(".fecha").datepicker({
                    format: "dd/mm/yyyy",
                    language: "es",
                    nextText: "siguiente",
                    autoclose: true
                });

            });

        </script>

    </head>
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="#" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                Promo Launcher
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope"></i>
                                
                            </a>
                            <ul class="dropdown-menu">
                                
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-warning"></i>                                
                            </a>
                            <ul class="dropdown-menu">                                
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-tasks"></i>
                            </a>
                            <ul class="dropdown-menu">                                
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>@usuario.login <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="/Content/img/avatar3.png" class="img-circle" alt="User Image" />
                                    <p>
                                        @usuario.login
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    
                                    <div class="pull-right">
                                        <a href="/@empresa" class="btn btn-default btn-flat">Salir</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">                
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="/Content/img/avatar3.png" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>Hola, @usuario.login</p>

                            <a href="#"><i class="fa fa-circle text-success"></i> @empresa </a>
                        </div>
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        
                        <li class="active">
                            <a href="/@empresa/Promociones">
                                <i class="fa fa-th"></i> <span>Promociones</span>
                            </a>
                        </li>
                        
                        @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolVerCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                        { 
                        
                            <li>
                                <a href="/@empresa/Cotizaciones">
                                    <i class="fa fa-th"></i> <span>Cotizaciones</span> @*<small class="badge pull-right bg-green">new</small>*@
                                </a>
                            </li>
                            
                        }

                        @if (usuario.perteneceARol(Rol.rolAdministradorDelSistema)) { 
                            
                            
                            <li >
                                <a href="/@empresa/Usuarios">
                                    <i class="fa fa-th"></i><span>Usuarios</span>
                                </a>
                            </li>
                            <li >
                                <a href="/@empresa/Asesores">
                                    <i class="fa fa-th"></i><span>Asesores</span>
                                </a>
                            </li>
                        }

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        @if (valor == 1) {
                           
                            Promocion promo = new Promocion(ctx, int.Parse(interno));
                            if (promo.tipo == 1)
                            { 
                                <i class="fa fa-sticky-note-o" ></i>
                            }
                            else if (promo.tipo == 2)
                            { 
                                <i class="fa fa-plane" ></i>
                            }
                            
                        }
                        @titulo @(valor > 0 ? interno : "")
                    </h1>
                    
                </section>

                <!-- Main content -->
                <section class="content">
              
                @RenderBody()



                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
            
<script type="text/javascript">
    $(document).ready(function () {
        $('#example1').dataTable({
            "aaSorting": []
        });
    });
    $(document).ready(function () {
        $('#example2').dataTable({
            "aaSorting": []
        });
    });

    
    $(document).ready(function () {
        $('.tablas').dataTable({
            
            "aaSorting": [],
            "aLengthMenu": [[20, 100, 500, -1], [20, 100, 500, "Todos"]],
            "iDisplayLength": 20,
            "oLanguage": {
                "sInfo": "Mostrando _START_ a _END_ promociones. Total: _TOTAL_ ",
                "sInfoEmpty": "Sin resultados",
                "sInfoFiltered": "(Filtrando promociones de un total de _MAX_ )",
                "sSearch": "Búsqueda: ",
                "sLengthMenu": "_MENU_ Promociones por página",
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                    "sLast": "Ultimo",
                    "sFirst": "Primero",
                }
            }   
            
        });
    });

    $(document).ready(function () {
        $('.tablas_list_promo').dataTable({
            "aaSorting": [],
            "aLengthMenu": [[20, 100, 500, -1], [20, 100, 500, "Todos"]],
            "iDisplayLength": 20,
            "oLanguage": {
                "sInfo": "Mostrando _START_ a _END_ promociones. Total: _TOTAL_ ",
                "sInfoEmpty": "Sin resultados",
                "sInfoFiltered": "(Filtrando promociones de un total de _MAX_ )",
                "sSearch": "Búsqueda: ",
                "sLengthMenu": "_MENU_ Promociones por página",
                "oPaginate": {
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior",
                    "sLast": "Ultimo",
                    "sFirst": "Primero",
                }
            }   
            
        });
    });
    
</script>

           
    </body>
</html>