﻿@using System.Data;
@using System.IO;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");
    
    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);

    int codigo_promocion = int.Parse(Context.GetRouteValue("codigo_promocion"));
    int imprimir = int.Parse(Context.GetRouteValue("imprimir"));
    string mensaje = "", mensajeObservacion = "";
    Promocion promocion = new Promocion(ctx, codigo_promocion);

    if (Context.GetRouteValue("codigo_mensaje") != null)
    {
        switch (int.Parse(Context.GetRouteValue("codigo_mensaje").ToString()))
        {
            case 1:
                // Solicitud registrada, email al cliente
                mensaje = "Estimado cliente, a " + Server.HtmlEncode("continuación") + " se muestra la " + Server.HtmlEncode("información") + " de la " + Server.HtmlEncode("promoción ") + promocion.titulo;
                break;
        }
    }

    int descargar = int.Parse(Context.GetRouteValue("descargar"));
    string logo = "/Content/img/logo_passarini.gif";
    if (descargar == 1) {        
        logo = Request.PhysicalApplicationPath + "Content\\img\\logo_passarini.gif";
    }

}

<html>     
    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Agencia de Viajes y Turismo Passarini Suárez C.A.</title>
    </head>
    <body>  
    
        <div style="padding-right: 15px;padding-left: 15px;  margin-right: auto; margin-left: auto;">
            
            <div style="text-align:center;">
                <img src="@logo" style="top:50%;left:50%;"><br/>
                <p> @Html.Raw(mensaje)  <br/></p>
            </div>
        
            <table  style="width: 100%; max-width: 100%; margin-bottom: 20px; border: 1px solid #4a4949; border-spacing: 0; border-collapse: collapse; background-color: transparent;">                    
                <tbody>
                    @for (int i = 1; i <= 10; i++) {
                        string label = "", valor = "";
                        switch (i)
                        {
                            case 1:
                                label = "Numero de la promocion:";
                                valor = "" + promocion.codigoPromocion;
                                break;
                            case 2:
                                label = "Titulo de la promocion:";
                                valor = "" + promocion.titulo;
                                break;
                            case 3:
                                label = "Subtitulo:";
                                valor = "" + promocion.subtitulo;
                                break;
                            case 4:
                                label = "Clasificacion:";
                                valor = "" + PromoCotizaciones.business.Clasificacion.valorClasificacion(promocion.codigoClasificacion);
                                break;
                            case 5:
                                label = "Subclasificacion:";
                                valor = "" + (promocion.codigoClasificacion == 2 ? PromoCotizaciones.business.Destino.valorDestino(promocion.codigoSubclasificacion) : (promocion.codigoClasificacion == 3 ? PromoCotizaciones.business.Destino.valorDestinoInternacionales(promocion.codigoSubclasificacion) : ""));
                                break;
                            case 6:
                                label = "Orden:";
                                valor = "" + promocion.orden;
                                break;
                            case 7:
                                label = "Valida Desde:";
                                valor = "" + promocion.validaDesde.ToShortDateString();
                                break;
                            case 8:
                                label = "Valida Hasta:";
                                valor = "" + promocion.validaHasta.ToShortDateString();
                                break;
                            case 9:
                                label = "Grupo:";
                                valor = "" + promocion.grupo;
                                break;
                            case 10:
                                label = "Seo Url:";
                                valor = "" + promocion.seo_url;
                                break;                            
                            default:
                                break;
                        }
                        <tr style="border: 1px solid #4a4949;">
                            <td style="border: 1px solid #4a4949; text-align:right; padding-right:5px;">@label</td>
                            <td style="border: 1px solid #4a4949;">@valor</td>
                        </tr>  
                    }                        

                    @if (Tipo_Promocion.esPromoViaje(promocion.tipo)){
                        for (int i = 1; i <= 2; i++) {
                            string label = "", valor = "";
                            switch (i)
                            {
                                case 1:
                                    label = "Operador:";
                                    valor = "" + promocion.promo_viaje.operador;
                                    break;
                                case 2:
                                    label = "Asesor:";
                                    valor = "" + (promocion.promo_viaje.codigo_asesor != -1 ? new Asesor(ctx,promocion.promo_viaje.codigo_asesor).nombre : "") ;
                                    break;                     
                                default:
                                    break;
                            }
                            <tr style="border: 1px solid #4a4949;">
                                <td style="border: 1px solid #4a4949; text-align:right; padding-right:5px;">@label</td>
                                <td style="border: 1px solid #4a4949;">@valor</td>
                            </tr>  
                        }
                    }

                </tbody>
            </table>
            
            <div style="text-align:left;">
                
                    <p>Tipo de Tarifa: @promocion.tipo_tarifa_consolidada  , Tarifa: @promocion.tarifaConsolidada  , Moneda: @promocion.tarifaConsolidadaMoneda <br/></p>
                
                
                
            </div>

            <table  style="width: 100%; max-width: 100%; margin-bottom: 20px; border: 1px solid #4a4949; border-spacing: 0; border-collapse: collapse; background-color: transparent;">                    
                <thead>
                    <tr>
                        <th style="text-align:center; border: 1px solid #4a4949;">
                            Detalle de Tarifa
                        </th>
                        <th style="text-align:center; border: 1px solid #4a4949;">
                            Costo
                        </th>
                        <th style="text-align:center; border: 1px solid #4a4949;">
                            Codigo de Moneda
                        </th>                            
                    </tr>
                </thead>
                <tbody>                    
                    @{DataTable tarifas_promo = new Promociones(ctx).listarTarifa(codigo_promocion);}
                    @foreach (DataRow dr in tarifas_promo.Rows)
                    {
                        string label = "" + dr["Descripcion"], valor = "" + dr["Monto"], codigoMoneda = "" + dr["Codigo_Moneda"];                        
                        <tr style="text-align:center; border: 1px solid #4a4949;">
                            <td style="border: 1px solid #4a4949;">@label</td>
                            <td style="border: 1px solid #4a4949;">@valor</td>
                            <td style="border: 1px solid #4a4949;">@codigoMoneda</td>
                        </tr>  
                    }                        

                </tbody>
            </table>
            

            <div style="text-align:left;">
                @{DataTable textosLibres = new Promociones(ctx).listarTextosLibres(codigo_promocion);}
                @foreach (DataRow textos in textosLibres.Rows)
                {
                    <p> @Html.Raw(textos["Titulo_Texto_Libre"].ToString()) <br/>

                    @Html.Raw(textos["Texto_Libre"].ToString())  <br/></p>
                
                }
                
            </div>



        </div>

    </body>
    
</html>
@if (imprimir != 0) {
    Response.Write("<script>window.print()</script>");
}