﻿@{
    //ViewBag.Title = "Gestion de Promociones";
    Layout = "~/views/Layouts/_Layout.cshtml";
}
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;
@using System.Data;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + empresa);
    }
    //Promociones promociones = new Promociones(ctx);
    DataTable dtAsesores = new Auxiliares(ctx).listarAsesores();
    DateTime now = DateTime.Now;
    DateTime firstDay = new DateTime(now.Year, now.Month, 1);
    DateTime lastDay = new DateTime(now.Year, now.Month, DateTime.DaysInMonth(now.Year, now.Month));

    DateTime desde = new DateTime(2000, 1, 1),
            hasta = new DateTime(2000, 1, 1),
            publicado_desde = new DateTime(2000, 1, 1),
            publicado_hasta = new DateTime(2000, 1, 1);
    int codigo_asesor = -1, tipo = -1;
    
}


@if (IsPost){

    if (Request.Form["desde"] != "") 
    {
        desde = DateTime.Parse(Request.Form["desde"]);
        Session["valida_desde"] = desde.ToShortDateString(); 
    } else { desde = new DateTime(2000, 1, 1); Session["valida_desde"] = "";}

    if (Request.Form["hasta"] != "")
    {
        hasta = DateTime.Parse(Request.Form["hasta"]);
        Session["valida_hasta"] = hasta.ToShortDateString();
    } else { hasta = new DateTime(2000, 1, 1); Session["valida_hasta"] = ""; }

    if (Request.Form["publicacion_desde"] != "")
    {
        publicado_desde = DateTime.Parse(Request.Form["publicacion_desde"]);
        Session["publicacion_desde"] = publicado_desde.ToShortDateString();
    }
    else { publicado_desde = new DateTime(2000, 1, 1); Session["publicacion_desde"] = ""; }

    if (Request.Form["publicacion_hasta"] != "")
    {
        publicado_hasta = DateTime.Parse(Request.Form["publicacion_hasta"]);
        Session["publicacion_hasta"] = publicado_hasta.ToShortDateString();
    }
    else { publicado_hasta = new DateTime(2000, 1, 1); Session["publicacion_hasta"] = ""; }
    
    /*desde = (Request.Form["desde"] != "" ? DateTime.Parse(Request.Form["desde"]) : desde);
    hasta = (Request.Form["hasta"] != "" ? DateTime.Parse(Request.Form["hasta"]) : hasta);
    publicado_desde = (Request.Form["publicacion_desde"] != "" ? DateTime.Parse(Request.Form["publicacion_desde"]) : publicado_desde);
    publicado_hasta = (Request.Form["publicacion_hasta"] != "" ? DateTime.Parse(Request.Form["publicacion_hasta"]) : publicado_hasta);*/
    codigo_asesor = int.Parse(Request.Form["codigo_asesor"].ToString());
    tipo = int.Parse(Request.Form["tipo"].ToString());      
    
    Session["tipo"] = tipo.ToString();
    Session["codigo_asesor"] = codigo_asesor.ToString();


    //DataTable dt = new Promociones(ctx).listarPromociones(desde, hasta, publicado_desde, publicado_hasta, tipo, codigo_asesor, true, true, true);
    
}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            Promociones: @*dt.Rows.Count*@</h3>
    </div>

    <div class="box-footer">
        
        <a class="letrasBlancas" href="/@empresa/NuevaPromocion">
            <button class="btn btn-primary">
                <span>Nueva Promocion</span>    
            </button>
        </a>
            
        <a class="letrasBlancas" href="/@empresa/ResultadosPublicacion/1">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-upload"></span>Publicar Modificadas 
            </button>
        </a>

        
        <a class="letrasBlancas" href="/@empresa/ResultadosPublicacion/0">
            <button class="btn btn-primary">
                <span class="glyphicon glyphicon-upload"></span> Publicar Todas 
            </button>
        </a>
        
        <button id="busqueda_avanzada" class="btn btn-primary" onclick="mostrar('formBuscarPromo');ocultar('busqueda_avanzada');">
            <i class="fa fa-search"></i> Busqueda Avanzada
        </button>
    </div>


    <form id="formBuscarPromo" method="post" name="formBuscarPromo" class="bv-form" style="display:none">  
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">                    
                    
                    <div class="col-md-4">                        
                        
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="checkbox" name="solo_valida" id="solo_valida" class="form-control" @(Session["soloValidas"] != null && int.Parse(Session["soloValidas"].ToString()) > 0 ? "checked":"")>
                                </div>
                                <input type="text" class="form-control pull-right" value="Solo Válidas" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label ">Valida Desde</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="desde" name="desde" class="fecha form-control pull-right" value="@Session["valida_desde"]">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label ">Valida Hasta</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="hasta" name="hasta" class="fecha form-control pull-right" value="@Session["valida_hasta"]">
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">                        

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="checkbox" name="solo_publicada" id="solo_publicada" class="form-control" @(Session["soloPublicadas"] != null && int.Parse(Session["soloPublicadas"].ToString()) > 0 ? "checked":"" )>
                                </div>
                                <input type="text" class="form-control pull-right" value="Solo Publicadas" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label ">Publicación Desde</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="publicacion_desde" name="publicacion_desde" class="fecha form-control pull-right" value="@Session["publicacion_desde"]" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label ">Publicación Hasta</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" id="publicacion_hasta" name="publicacion_hasta" class="fecha form-control pull-right" value="@Session["publicacion_hasta"]">
                            </div>
                        </div>


                    </div>                                        

                    <div class="col-md-4">                        

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="checkbox" name="solo_activa" id="solo_activa" class="form-control" @(Session["soloActivas"] != null && int.Parse(Session["soloActivas"].ToString()) > 0 ? "checked":"")>
                                </div>
                                <input type="text" class="form-control pull-right" value="Solo Activas" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label ">Asesor</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <select id="codigo_asesor" class="form-control pull-right" name="codigo_asesor"> 
                                    <option value="-1"></option> 
                                    @foreach (DataRow dr in dtAsesores.Rows)
                                    {
                                        <option value="@dr["Codigo_Asesor"]" @(codigo_asesor == int.Parse(dr["Codigo_Asesor"].ToString()) ? "selected" : "")>@dr["Nombre"]</option> 
                                    }    
                                </select>
                                    
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label ">Tipo de Promoción</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-plane"></i>
                                </div>
                                <select id="tipo" class="form-control pull-right" name="tipo"> 
                                    <option value="-1" @(tipo == -1 ? "selected" : "")></option> 
                                    <option value="1" @(tipo == 1 ? "selected" : "")>General</option> 
                                    <option value="2" @(tipo == 2 ? "selected" : "")>Viaje</option> 
                                      
                                </select>
                            </div>
                        </div>

                    </div>                                        

                    <div class="col-md-12 centrado form-group">
                        <div id="messages"></div>
                    </div>

                </div>
            </div>
        </div>
                
               
        <div class="box-footer centrado">
            <button type="button" onclick="searchData()" class="btn btn-primary">Buscar</button>                               
            <button type="button" class="btn btn-primary" onclick="ocultar('formBuscarPromo');mostrar('busqueda_avanzada');">Cancelar</button>                               
        </div>
                              
    </form>    

    <!-- /.box-header -->
    <div class="row" id="loading">
        <div class="col-md-12 centrado" style="font-size: 120px;">            
            <!-- Loading (remove the following to stop the loading)-->
            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <!-- end loading -->
        </div>
    </div>

    <div id="promoData">

    </div>

    

    <!-- /.box-body -->
</div>
<!-- /.box -->

<script type="text/javascript">
    $(function () {
        mostrar('loading');
        ocultar('promoData');
        $(document).ready(function () {
            $.ajax({
                url: '/@empresa/datatablePromociones',
                data: setData(),
                success: function (data) {
                    $("#promoData").html(data);
                    ocultar('loading');
                    mostrar('promoData');
                }
            });
        });
    })

    function setData() {
        var datos = {
            soloValidas: $('#solo_valida').is(':checked') ? 1 : 0,
            soloPublicadas: $('#solo_publicada').is(':checked') ? 1 : 0,
            soloActivas: $('#solo_activa').is(':checked') ? 1 : 0,
            validaDesde: $('#desde').val(),
            validaHasta: $('#hasta').val(),
            publicacionDesde: $('#publicacion_desde').val(),
            publicacionHasta: $('#publicacion_hasta').val(),
            tipo: $('#tipo').val(),
            codigoAsesor: $('#codigo_asesor').val()
        }
        return datos
    }


    function searchData() {
        mostrar('loading');
        ocultar('promoData');
        $.ajax({
            url: '/@empresa/datatablePromociones',
            data: setData(),
            success: function (data) {
                $("#promoData").html(data);
                ocultar('loading');
                mostrar('promoData');
            }
        });
        
    }
</script>
