﻿@{
    Layout = "~/views/Layouts/_LayoutTable.cshtml";
}
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;
@using System.Data;
@{
    string emp = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + emp].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + emp);
    }
    //variables fijas que deben venir siempre
    int activa       = int.Parse(Request.Params.Get("soloActivas")),
        publicada    = int.Parse(Request.Params.Get("soloPublicadas")), 
        valida       = int.Parse(Request.Params.Get("soloValidas")),
        codigoAsesor = int.Parse(Request.Params.Get("codigoAsesor")), 
        tipo         = int.Parse(Request.Params.Get("tipo"));
    bool soloPublicadas = publicada > 0; Session["soloPublicadas"] = publicada;
    bool soloValidas    = valida > 0;    Session["soloValidas"] = valida;
    bool soloActivas    = activa > 0;    Session["soloActivas"] = activa;
    

    //Se limpian las variables de sesion (por si alguna se seteo a vacio)
    Session["codigo_asesor"] = codigoAsesor;
    Session["tipo"] = tipo;
    Session["valida_desde"] = "";
    Session["valida_hasta"] = "";
    Session["publicacion_desde"] = "";
    Session["publicacion_hasta"] = "";
    DateTime validaDesde = new DateTime(2000, 1, 1);
    if (!String.IsNullOrEmpty(Request.Params.Get("validaDesde"))) {
        validaDesde = DateTime.Parse(Request.Params.Get("validaDesde"));
        Session["valida_desde"] = validaDesde.ToShortDateString();
    }
    DateTime validaHasta = new DateTime(2000, 1, 1);
    if (!String.IsNullOrEmpty(Request.Params.Get("validaHasta")))
    {
        validaHasta = DateTime.Parse(Request.Params.Get("validaHasta"));
        Session["valida_hasta"] = validaHasta.ToShortDateString();
    }
    DateTime publicacionDesde = new DateTime(2000, 1, 1);
    if (!String.IsNullOrEmpty(Request.Params.Get("publicacionDesde")))
    {
        publicacionDesde = DateTime.Parse(Request.Params.Get("publicacionDesde"));
        Session["publicacion_desde"] = publicacionDesde.ToShortDateString();
    }
    DateTime publicacionHasta = new DateTime(2000, 1, 1);
    if (!String.IsNullOrEmpty(Request.Params.Get("publicacionHasta")))
    {
        publicacionHasta = DateTime.Parse(Request.Params.Get("publicacionHasta"));
        Session["publicacion_hasta"] = publicacionHasta.ToShortDateString();
    }
            
    Promociones promociones = new Promociones(ctx);
    DataTable dt = promociones.listarPromociones(validaDesde, validaHasta, publicacionDesde, publicacionHasta, tipo, codigoAsesor, soloValidas, soloPublicadas, soloActivas);    
    
}


<div class="box-body table-responsive" id="tablaPromociones">
    <table class="table tablas_list_promo table-bordered table-striped">
        <thead>
            <tr>
                <th>Orden</th>
                <th>Código</th>
                <th>Tipo</th>
                <th>Título</th>
                <th>Clasificación</th>
                <th>Desde - Hasta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                
            

            @foreach (DataRow promo in dt.Rows)
            {
                DateTime hoy = DateTime.Today;
                DateTime valida_desde = DateTime.Parse(promo["Valida_Desde"].ToString());
                DateTime valida_hasta = DateTime.Parse(promo["Valida_Hasta"].ToString());
                DateTime pub_desde = DateTime.Parse(promo["Publicacion_Desde"].ToString());
                DateTime pub_hasta = DateTime.Parse(promo["Publicacion_Hasta"].ToString());
                string valida_color = (DateTime.Compare(hoy, valida_desde) > 0 && DateTime.Compare(hoy, valida_hasta) < 0 ? "black" : "#ccc"),
                        pub_color = (DateTime.Compare(hoy, pub_desde) > 0 && DateTime.Compare(hoy, pub_hasta) < 0 ? "black" : "#ccc");
                string activo = "";
                if (!(bool)promo["Activa"])
                {
                    activo = "inactivo";
                }
                <tr class="@activo"> 
                    <td>@( promo["Orden"] != null && promo["Orden"] != DBNull.Value && int.Parse(promo["Orden"].ToString()) >= 0 ? promo["Orden"]: "")</td>
                    <td>@promo["Codigo_Promocion"]</td>
                    <td>@{ int tipo_promo = int.Parse(promo["Tipo"].ToString());}
                        @if (tipo_promo == 1) { <i class="fa fa-sticky-note-o"></i> }
                        else if (tipo_promo == 2) { <i class="fa fa-plane" ></i> }
                    </td>
                    <td>
                        <a href="/@emp/EditarPromocion/@promo["Codigo_Promocion"]">@if (int.Parse(promo["Modificada"].ToString()) != 0) {<span class="glyphicon glyphicon-warning-sign modificada"></span>} @promo["Titulo"]</a>
                    </td>
                    <td>
                        @PromoCotizaciones.business.Clasificacion.valorClasificacion(int.Parse(promo["Codigo_Clasificacion"].ToString()))
                    </td>
                    <td> 
                        <small>Validez:</small> 
                        <br/>
                        <p style="color:@valida_color">
                            @valida_desde.ToString("dd/MM/yy") - @valida_hasta.ToString("dd/MM/yy")
                        </p>
                        <small>Publicación:</small> 
                        <br/>
                        <p style="color:@pub_color">
                            @pub_desde.ToString("dd/MM/yy") - @pub_hasta.ToString("dd/MM/yy")
                        </p>
                    </td>
                    <td>
                        @*@if (promo.Valida_Desde <= DateTime.Now && DateTime.Now <= promo.Valida_Hasta) { 
                                <a href="@Url.Action("Publicar/"+promo.Codigo_Promocion,"Promo")">Publicar</a> }*@ 
                        @if (usuario.perteneceARol(Rol.rolPublicarPromo) && emp == "passarini")
                        {
                            <a href="/@emp/ResultadosPublicacionIndividual/@promo["Codigo_Promocion"]"><span class="glyphicon glyphicon-upload"></span> </a> <!--Publicar-->
                        }
                        @if (usuario.perteneceARol(Rol.rolVerPromo))
                        { 
                            <!-- <a href="#">Detalle</a> -->
                        }
                                
                        @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones)){
                            <a href="/@emp/RegistrarCotizacion/@promo["Codigo_Promocion"]"> <span class="glyphicon glyphicon-usd"></span> </a>
                                
                        }

                        @if (usuario.perteneceARol(Rol.rolCrear_EditarPromo))
                        { 
                            <a href="/@emp/Activar_DesactivarPromo/@promo["Codigo_Promocion"]"> <span class="glyphicon glyphicon-ok"></span> / <span class="glyphicon glyphicon-remove"></span> </a>
                            <a href="/@emp/EliminarPromocion/@promo["Codigo_Promocion"]" onclick="return confirm('¿Estas seguro que deseas eliminar esta promocion?');"> <span class="glyphicon glyphicon-trash" ></span> </a>
                        }                                
                    </td>
                </tr>
                    
                                            
            }

            </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
