﻿@{
    //ViewBag.Title = "Index";
    Layout = "~/views/Layouts/_Layout.cshtml";
}
@using System.Data;
@using System.IO;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + empresa );
    }
    Seguridad seg = new Seguridad(ctx);
    DataTable dt = seg.listarUsuarios("", "");
}
<div class="box">

    <div class="box-footer">
        <a class="letrasBlancas" href="/@empresa/RegistrarUsuario">
            <button class="btn btn-primary">
                <span>Registrar Usuario</span>
            </button> 
        </a>       
    </div>

    <div class="box-body table-responsive">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>                           
                @foreach (DataRow row in dt.Rows)
                {
                    string activo = "";
                    if (!(bool)row["Activo"])
                    {
                        activo = "inactivo";
                    }
                    <tr class="@activo">                                         
                        <td> <a href="/@empresa/EditarUsuario/@row["Login"].ToString()"> @row["Login"].ToString() </a> </td>   
                        <td> 
                            <a href="/@empresa/EliminarUsuario/@row["Login"].ToString()" onclick="return confirm('¿Estas seguro?');" type="submit"> <span class="glyphicon glyphicon-trash" ></span> </a> 
                            <a href="/@empresa/Activar_Desactivar/@row["Login"].ToString()" type="submit"> Activar/Desactivar </a>
                        </td>  
                    </tr>
                }

            </tbody>            
        </table>
    </div>

    
</div>