﻿@{
    Layout = "~/views/Layouts/_Layout.cshtml";
}
@using System.Data;
@using System.IO;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;
@{
    
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + empresa);
    }
    
    bool seCumpleTodo = true;
    Seguridad seguridad = new Seguridad(ctx);
    DataTable dt = seguridad.listarRoles();
    Auxiliares aux = new Auxiliares(ctx);
    DataTable dtAsesores = aux.listarAsesores();
    string stringErrors = "Este campo es obligatorio"; 
}


<h2>Registrar Usuarios</h2>

<form id="formRegistro" method="post" name="formRegistro" class="bv-form" data-toggle="validator">  
    <div class="box-body">
        
        <div class="form-group">
            <label for="Usuario">Usuario *</label>
            <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" required data-required-error="@stringErrors">
            <div class="help-block with-errors"></div>
        </div>
            @if (IsPost)
            {
                if (Request.Form["usuario"].ToLower() != "" && Request.Form["contrasena"] != "")
                {
                    Seguridad seg = new Seguridad(ctx);
                    DataTable dtUsuarios = new DataTable();
                    dtUsuarios = seg.listarUsuarios("", "");
                    foreach (DataRow row in dtUsuarios.Rows)
                    {
                        if (row["Login"].ToString() == Request.Form["usuario"].ToLower())
                        {
                            seCumpleTodo = false;
                            <div class="form-group">
                                <label>El Login ya existe</label>                      
                            </div>  
                            break;
                        }
                    }
                }
                else {
                    seCumpleTodo = false;
                }
            }     
        <div class="form-group">
            <label for="Contrasena">Contraseña *</label>
            <input type="password" id="contrasena" name="contrasena" class="form-control" placeholder="Contraseña" required data-required-error="@stringErrors">
            <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <label for="Email">Email *</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" required data-required-error="@stringErrors">
            <div class="help-block with-errors"></div>
        </div>
        
        
            @foreach (DataRow row in dt.Rows)
            {
                <div class="form-group">
                    @if (Int32.Parse(row["Codigo_Rol"].ToString()) == Rol.rolVerPromo)
                    { 
                        <input type="checkbox" id="@row["Nombre"]" name="@row["Nombre"]" checked="checked"/>
                    }
                    else
                    {
                        <input type="checkbox" id="@row["Nombre"]" name="@row["Nombre"]"/>
                    }
                    <label class="control-label">@row["Nombre"] &nbsp </label>

                    @if (Int32.Parse(row["Codigo_Rol"].ToString()) == Rol.rolCotizar) { 
                        <select id="asesores" class="form-control" name="asesores"> 
                            @foreach (DataRow dr in dtAsesores.Rows)
                            {
                                <option value="@dr["Codigo_Asesor"]">@dr["Nombre"]</option> 
                            }    
                        </select>
                    }

                </div> 
            }

        
              
        <div class="form-group">
            <div id="messages"></div>
        </div>
        @if (IsPost && seCumpleTodo)
        {

            seguridad.registrarUsuario(Request.Form["usuario"].ToLower(), "", "", Request.Form["email"].ToString(), "",
                                       Request.Form["contrasena"], "", "");

            Usuario usuariomod = new Usuario(ctx, Request.Form["usuario"].ToLower());
            usuariomod.cambiarPassword(Request.Form["contrasena"]);

            foreach (DataRow row in dt.Rows)
            {
                int codigoRol = Int32.Parse(row["Codigo_Rol"].ToString());
                if (Request.Form[row["Nombre"].ToString()] == "on")
                {
                    if (codigoRol == Rol.rolCotizar || codigoRol == Rol.rolSupervisorCotizaciones)
                    {
                        usuariomod.registrarEnRol(codigoRol, int.Parse(Request.Form["asesores"].ToString()));
                        
                    }
                    else
                    {
                        usuariomod.registrarEnRol(codigoRol, -1);
                    }
                }
                /*else
                {
                    usuarioGuardar.eliminarDeRol(codigoRol);
                }*/
            }

            //Response.Redirect("/"+empresa+ "/EditarUsuario/" + Request.Form["login"].ToLower(), true);
            <div class="form-group">
                <div> Registro Exitoso </div>
            </div>    
        }
            
            
        

    </div>
    <!-- /.box-body -->
    
    <div class="box-footer">
        <button type="submit" class="btn btn-primary">Registrar Usuario</button>
        @*<a href="/Home" ><button type="button" id="volver" class="btn">Volver</button></a>*@
    </div>
</form>
