﻿@{
    
    //ViewBag.Title = "Index";
    Layout = "~/views/Layouts/_LayoutLogin.cshtml";
}

@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using System.Data.SqlClient;
@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");
    BaseContext ctx = null;
    try {
        ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_"+empresa].ConnectionString);    
    } catch {
        Response.Write("El codigo de empresa suministrado NO es correcto.");
    }
    
}

@if (ctx != null)
{
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h2>Iniciar sesión en el sistema PromoCotizaciones. Especifique su nombre de usuario y contraseña.</h2>        
    </div>
</div>

<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <form id="formLogin" method="post" name="formLogin" class="bv-form">  
            <div class="box-body">
        
                <div class="form-group">
                    <label for="Usuario">Usuario</label>
                    <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" required="required"/>
                </div>
                <div class="form-group">
                    <label for="Contrasena">Contraseña</label>
                    <input type="password" id="contrasena" name="contrasena" class="form-control" placeholder="Contraseña" />
                </div> 
                <!-- <div class="form-group">
                    <label for="CodigoEmpresa">Código de empresa</label>
                    <input type="text" id="codEmpresa" name="codEmpresa" class="form-control" placeholder="Código de Empresa" required = "required"/>
                </div>          -->
                <div class="form-group">
                    <div id="messages"></div>
                </div>
                @if (IsPost)
                {
                    Usuario usuario = null;
                    Exception e = null;
                    try { usuario = new Usuario(ctx, Request.Form["usuario"].ToString()); }
                    catch (SqlException exp) {                        
                        e = exp;                       
                    } catch {}

                    if (e != null) { throw e; }
                    
                    if (usuario != null)
                    {
                        if (usuario.autenticar(Request.Form["contrasena"]))
                        {
                            Session["usuario"] = Request.Form["usuario"].ToLower();
                            Session["nombreEmpresa"] = empresa;
                            Response.Redirect("/" + empresa + "/Promociones");                                                       
                        }
                        else
                        {
                        <div class="form-group">
                            Usuario o Contraseña incorrecto.
                        </div>
                        }
                    }
                    else
                    {  
                        <div class="form-group">
                            Usuario o Contraseña incorrecto.
                        </div>                      
                    }
                }
                else
                {
                    Session.Abandon();
                }

        </div>
                <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </form>
    </div>
</div>
}
