.letrasBlancas 
{
    color:White
}

.letrasBlancas:hover
{
    color:White
}


.imgcategorias{
    height:120px;
    background-color:#f3733c;    
}

.inactivo
{
    opacity:0.5;
}

.centrado
{
    text-align:center;
}

.centrado>img
{
    margin:auto;
}

.fecha
{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    height: 34px;
    width: 89%;

}

.fecha:focus
{
    border-color: #66afe9;    
    outline:0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.modificada
{
    color:rgba(255, 198, 31, 0.82);
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}




/*** CSS Para radio button con imagenes ***/
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.viaje{background-image:url(../img/promocion_viaje.png);}
.general{background-image:url(../img/promocion_general.png);}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:40px;height:40px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}

/*****/