﻿@{
    Layout = "~/views/Layouts/_Layout.cshtml";
    
}

@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@{
    
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");
    
    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_"+empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/"+empresa);
    }
    
}

<div class="row">
    <div class="col-lg-12 col-xs-12">
        <h1>Bienvenidos al sistema PromoCotizaciones</h1>
    </div>
</div>

@*<div class="row">
 <div class="col-lg-12 col-xs-12">
 <div class="box">
 <button class="btn @yesSincro btn-sm btn-block" onclick="UpdateDBs();">Sincronizar</button>
 </div>
 </div>
</div>
<div class="row">

    @foreach (var amb in Model.envPromos)
    {

    <div class="col-lg-6 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-@amb.color">
            <div class="inner">
                <h3>
                    @amb.num 
                </h3>
                <p>
                  @amb.Env 
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Más info<i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    }
    <!-- ./col -->
</div>
<script type="text/javascript">

    function UpdateDBs() {

        $.ajax({
            url: '/Promo/SyncDbs',
            success: function (data) {

                alert(data);
            }


        })
    }

</script> *@
