﻿@using System.Data;
@using System.IO;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);    
    
    int codigo_cotizacion = int.Parse(Context.GetRouteValue("codigo_cotizacion"));
    int imprimir = int.Parse(Context.GetRouteValue("imprimir"));
    PromoCotizaciones.business.Cotizacion cotizacion = new PromoCotizaciones.business.Cotizacion(ctx, codigo_cotizacion);    
    string mensaje = "", mensajeObservacion = "";
    Promocion prom = new Promocion(ctx, int.Parse(cotizacion.codigo_promocion));

    if (Context.GetRouteValue("codigo_mensaje") != null)
    {
        switch (int.Parse(Context.GetRouteValue("codigo_mensaje").ToString()))
        {
            case 1:
                // Solicitud registrada, email al cliente
                mensaje = "Estimado cliente, a "+Server.HtmlEncode("continuación") +" se muestra la "+Server.HtmlEncode("información") +" de la "+Server.HtmlEncode("cotización") +" de la "+Server.HtmlEncode("promoción: ")+  cotizacion.codigo_promocion;
                break;
        }
    }

    int descargar = int.Parse(Context.GetRouteValue("descargar"));
    string logo = "/Content/img/logo_passarini.gif";
    if (descargar == 1) {
        
     logo = Request.PhysicalApplicationPath + "Content\\img\\logo_passarini.gif";
    }

}

<html>     
    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>Agencia de Viajes y Turismo Passarini Suárez C.A.</title>
    </head>
    <body>  
    
        <div style="padding-right: 15px;padding-left: 15px;  margin-right: auto; margin-left: auto;">
            
            <div style="text-align:center;">
                <img src="@logo" style="top:50%;left:50%;"><br/>
                <p> @Html.Raw(mensaje)  <br/></p>
            </div>
        
            <table  style="width: 100%; max-width: 100%; margin-bottom: 20px; border: 1px solid #4a4949; border-spacing: 0; border-collapse: collapse; background-color: transparent;">                    
                <tbody>
                    <tr style="border: 1px solid #4a4949;">
                        <td style="border: 1px solid #4a4949; text-align:right; padding-right:5px;">La cotizacion de numero:</td>
                        <td style="border: 1px solid #4a4949;">@cotizacion.codigo_cotizacion</td>
                    </tr>  

                    <tr style="border: 1px solid #4a4949;">
                        <td style="border: 1px solid #4a4949; text-align:right; padding-right:5px;">Asociada a la promocion:</td>
                        <td style="border: 1px solid #4a4949;">@cotizacion.codigo_promocion, @prom.titulo</td>
                    </tr>  

                    <tr style="border: 1px solid #4a4949;">
                        <td style="border: 1px solid #4a4949; text-align:right; padding-right:5px;">Telefono:</td>
                        <td style="border: 1px solid #4a4949;">@cotizacion.telefono</td>
                    </tr>  

                    <tr style="border: 1px solid #4a4949;">
                        <td style="border: 1px solid #4a4949; text-align:right; padding-right:5px;">Correo electrónico:</td>
                        <td style="border: 1px solid #4a4949;">@cotizacion.email</td>
                    </tr>  

                    <tr style="border: 1px solid #4a4949;">
                        <td style="border: 1px solid #4a4949; text-align:right; padding-right:5px;">Numero de adultos / niños / infantes:</td>
                        <td style="border: 1px solid #4a4949;">@cotizacion.num_adultos / @cotizacion.num_ninos / @cotizacion.num_infantes</td>
                    </tr>  

                    
                </tbody>
            </table>
            

            <div style="text-align:left;">
                
                <p> Descripcion <br/>
                    @*Html.Raw(cotizacion.texto_adicional)*@  <br/></p>
            </div>



        </div>

    </body>
    
</html>
@if (imprimir != 0) {
    Response.Write("<script>window.print()</script>");
}