﻿@{
    Layout = "~/views/Layouts/_Layout.cshtml";
}
@using System.Data;
@using System.IO;
@using System.Text;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;
@using PromoCotizaciones.Utilities;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + empresa);
    }
    
}

<form id="formDescargarPDF" method="post" name="formDescargarPDF" class="bv-form" style="display:none">  
    <div class="box-body">

        <div class="form-group">
            <input type="text" id="hdnDescargar" name="hdnDescargar" class="form-control">
        </div>
    </div>  
                
                
    @if (IsPost && Request.Form["hdnDescargar"] != null && Request.Form["hdnDescargar"].ToString() != "")
    {
        Cotizacion cotiz = new Cotizacion(ctx, int.Parse(Request.Form["hdnDescargar"].ToString()));
        try
        {
            
            int codigoPermiso = -1;
            if (usuario.perteneceARol(Rol.rolCotizar))
            {
                codigoPermiso = usuario.obtenerAsociacionDeRol(Rol.rolCotizar);
            }
            if (usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
            {
                codigoPermiso = usuario.obtenerAsociacionDeRol(Rol.rolSupervisorCotizaciones);
            }

            if (codigoPermiso > 0 && cotiz.status == Status.statusSolicitada)
            {
                Cotizaciones cambiarStatus = new Cotizaciones(ctx);
                cambiarStatus.cambiarStatusCotizacion(cotiz.codigo_cotizacion, 'C');
                cambiarStatus.registrarFechaStatus(cotiz.codigo_cotizacion, DateTime.Now, 'C', codigoPermiso);
                //cot = new Cotizacion(ctx, cotiz.codigo_cotizacion);
                //Response.Redirect("/" + empresa + "/EditarCotizacion/" + codigoDeCotizacion + "#datos");
            }
        }
        catch (Exception ex)
        {
            //throw new Exception("Ha ocurrido un error enviando el email de confirmación. Por favor comuníquese con el administrador.", ex);
            //throw ex;
        }
        var windowOpen = "window.open('" + Request.Url.ToString().Replace("Cotizaciones", "Descargar/"+cotiz.codigo_cotizacion) + "', '_newtab');";
        Response.Write("<script>");
        Response.Write(windowOpen);
        Response.Write("</script>");
        
    }        
                    
                        
        <!-- /.box -->
                

</form>

@{

    Cotizaciones cot = new Cotizaciones(ctx);
    DataTable dt = new DataTable();

    if (usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
    {
        dt = cot.listarCotizaciones();
    }
    else
    {
        dt = cot.listarCotizaciones(usuario.obtenerAsociacionDeRol(Rol.rolCotizar));
    }    
}

<div class="box">

    @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones)) {
        <div class="box-footer">
            <button class="btn btn-primary">
                <a class="letrasBlancas" href="/@empresa/RegistrarCotizacion"><span>Nueva Cotizacion</span></a>
            </button>
        </div>
    }
    <!-- /.box-header -->

    <div class="box-body table-responsive">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Codigo Cotizacion
                    </th>
                    <th>
                        Codigo Promocion
                    </th>
                    <th>
                        Pasajero
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Asesor
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in dt.Rows)
                {
                    string nombre = "", titulo = "", fecha = "";
                    try
                    {
                        Asesor asesor = new Asesor(ctx, int.Parse(row["Codigo_Asesor"].ToString()));                        
                        nombre = asesor.nombre;                        
                    }
                    catch { }
                    
                    try{
                        Promocion promo = new Promocion(ctx, int.Parse(row["Codigo_Promocion"].ToString()));
                        titulo = promo.titulo;
                    }
                    catch (Exception e) { throw e; }

                    try
                    {
                        fecha = cot.obtenerUltimaFecha(int.Parse(row["Codigo_Cotizacion"].ToString()));
                    }
                    catch { }
                    <tr>
                        <td> 
                            @row["Codigo_Cotizacion"]
                        </td>
                        <td>
                             <a href="/@empresa/EditarPromocion/@row["Codigo_Promocion"].ToString()"> @titulo </a>
                        </td>
                        <td>
                            <a href="/@empresa/EditarCotizacion/@row["Codigo_Cotizacion"].ToString()"> @row["Nombre"] </a>
                        </td>
                        <td>
                            @PromoCotizaciones.business.Status.valorStatus(row["Status"].ToString()[0]) - @fecha
                        </td>
                        <td> 
                            @nombre
                        </td>
                        <td>     
                            @if (row["Status"].ToString()[0] == 'S') {                       
                               <a href="/@empresa/EliminarCotizacion/@row["Codigo_Cotizacion"].ToString()" onclick="return confirm('¿Estas seguro que deseas eliminar esta cotizacion?');"> <span class="glyphicon glyphicon-trash" ></span> </a>
                            }
                            @if (usuario.perteneceARol(Rol.rolSupervisorCotizaciones)) {
                                <a href="/@empresa/EditarCotizacion/@row["Codigo_Cotizacion"].ToString()#asignar"> <span class="glyphicon glyphicon-hand-right"></span> </a>
                            }
                                <a href="#" onclick="javascript:formPDF('hdnDescargar', '@row["Codigo_Cotizacion"].ToString()', 'formDescargarPDF');"> <span class="glyphicon glyphicon-download"></span> </a>
                            
                        </td>
                    </tr>
                    
                                            
                }
            </tbody>
            <tfoot>
               
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
    
   
</div>
<!-- /.box -->

