﻿@{
    Layout = "~/views/Layouts/_Layout.cshtml";   
}
@using System.Text;
@using System.Data;
@using System.IO;
@using System.Web.Helpers;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;
@using PromoCotizaciones.Utilities;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/" + empresa);
    }

    Promociones promociones = new Promociones(ctx);
    DataTable dt = promociones.listarPromociones(false);

    string promos = "";
    promos = "<datalist id=\"promos\"> ";
    foreach (DataRow rows in dt.Rows)
    { promos += "<option id = \"" + rows["Codigo_Promocion"] + "\" value=\"" + rows["Titulo"] + "\">" + rows["Codigo_Promocion"] + "</option>"; }
    promos += "</datalist>";

    int codigoDeCotizacion = int.Parse(Context.GetRouteValue("codigo_cotizacion").ToString());
    
}

@*Estoy entrando al primer form*@
@if (IsPost && Request.Form["hddn_codigo_promocion"] != null)
{
    Cotizacion cotizacionEditar = new Cotizacion(ctx, codigoDeCotizacion);
    Cotizaciones cot_aux = new Cotizaciones(ctx);
    if (Request.Form["codigo_promocion"] != null && Request.Form["codigo_promocion"] != "")
    {
        cot_aux.actualizarCotizacion(
            codigoDeCotizacion, int.Parse(Request.Form["hddn_codigo_promocion"].ToString()), Request.Form["nombre"].ToString(),
            Request.Form["telefono"].ToString(), Request.Form["email"].ToString(), cotizacionEditar.ip,
            cotizacionEditar.texto_solicitud, cotizacionEditar.via, cotizacionEditar.status, 
            int.Parse(Request.Form["numero_adultos"].ToString()), int.Parse(Request.Form["numero_ninos"].ToString()),
            int.Parse(Request.Form["numero_infantes"].ToString()), cotizacionEditar.codigo_asesor
        );

        //no hay cambios en las tarifas porque se mantiene el codigo de promocion
        if (cotizacionEditar.codigo_promocion == Request.Form["codigo_promocion"].ToString())
        {

        }
        else
        { // Se deben borrar todas las tarifas porque cambio el codigo de promocion

            //en este try se eliminan todas las tarifas existentes
            try
            {
                DataTable tarifas_editar = cot_aux.listarTarifa(codigoDeCotizacion);
                if (tarifas_editar.Rows.Count > 0)
                {

                    foreach (DataRow dr in tarifas_editar.Rows)
                    {
                        cot_aux.eliminarTarifa(codigoDeCotizacion, int.Parse(dr["Orden_Tarifa"].ToString()));
                    }
                }
            }
            catch { }

            //en este try se agregan las tarifas nuevas de la promocion, en caso que existan
            try
            {
                Promociones aux = new Promociones(ctx);
                DataTable tarifas_editar = aux.listarTarifa(int.Parse(Request.Form["hddn_codigo_promocion"].ToString()));
                if (tarifas_editar.Rows.Count > 0)
                {
                    int i = 0;
                    foreach (DataRow dr in tarifas_editar.Rows)
                    {
                        cot_aux.registrarTarifaCotizacion(codigoDeCotizacion, dr["Descripcion"].ToString(), dr["Codigo_Moneda"].ToString(), float.Parse(dr["Monto"].ToString()), i);
                        i++;
                    }
                }
            }
            catch { }
        }


    }
    else
    {

        cot_aux.actualizarCotizacion(
            codigoDeCotizacion, -1, Request.Form["nombre"].ToString(),
            Request.Form["telefono"].ToString(), Request.Form["email"].ToString(), cotizacionEditar.ip,
            cotizacionEditar.texto_solicitud, cotizacionEditar.via, cotizacionEditar.status,
            int.Parse(Request.Form["numero_adultos"].ToString()), int.Parse(Request.Form["numero_ninos"].ToString()),
            int.Parse(Request.Form["numero_infantes"].ToString()), cotizacionEditar.codigo_asesor
        );

        try
        {
            DataTable tarifas_editar = cot_aux.listarTarifa(codigoDeCotizacion);
            if (tarifas_editar.Rows.Count > 0)
            {

                foreach (DataRow dr in tarifas_editar.Rows)
                {
                    cot_aux.eliminarTarifa(codigoDeCotizacion, int.Parse(dr["Orden_Tarifa"].ToString()));
                }
            }
        }
        catch { }
    }

    Response.Redirect("/" + empresa + "/EditarCotizacion/" + codigoDeCotizacion + "#datos");

}


@*Estoy entrando al segundo form*@
@if (IsPost && Request.Form["tarifa_moneda"] != null)
{
    Cotizaciones cotEditar = new Cotizaciones(ctx);
    int ultimaTarifa = 0;

    try { ultimaTarifa = cotEditar.seleccionarUltimaTarifa(codigoDeCotizacion) + 1; }
    catch { }

    if (bool.Parse(Request.Form["editando"]))
    {
        try
        {
            cotEditar.actualizarTarifa(codigoDeCotizacion,
                                        Request.Form["tarifa_concepto"].ToString(),
                                        Request.Form["tarifa_moneda"].ToString(),
                                        float.Parse(Request.Form["tarifa_monto"].ToString()),
                                        int.Parse(Request.Form["orden_tarifa"].ToString()));
        }
        catch { }
    }
    else
    {
        try
        {
            cotEditar.registrarTarifaCotizacion(codigoDeCotizacion,
                                                Request.Form["tarifa_concepto"].ToString(),
                                                Request.Form["tarifa_moneda"].ToString(),
                                                float.Parse(Request.Form["tarifa_monto"].ToString()), ultimaTarifa);
        }
        catch { }
    }

    Response.Redirect("/" + empresa + "/EditarCotizacion/" + codigoDeCotizacion + "#tarifas");

}

@{
    Cotizacion cot = new Cotizacion(ctx, codigoDeCotizacion);
    Asesor asesor = new Asesor(ctx, cot.codigo_asesor);
    string campoStatus = "", campoVia = "", tituloPromo = "";
    DataTable tarifas = new Cotizaciones(ctx).listarTarifa(cot.codigo_cotizacion);
    DataTable dtAsesores = new Auxiliares(ctx).listarAsesores();
    Promocion prom = null;
    DataTable tarifas_prom = null;
    try
    {
        prom = new Promocion(ctx, int.Parse(cot.codigo_promocion));
        tituloPromo = prom.titulo;
        tarifas_prom = new Promociones(ctx).listarTarifa(prom.codigoPromocion);
        
    }
    catch { }
    string stringErrors = "Este campo es obligatorio"; 
}

@Html.Raw(promos)

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#impresion">Impresion</a></li>
    <li><a data-toggle="tab" href="#datos">Datos</a></li>
    <li><a data-toggle="tab" href="#html">Textos Libres</a></li>
    @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
    {
        <li><a data-toggle="tab" href="#asignar">Asignar</a></li>
    }
    <li><a data-toggle="tab" href="#tarifas">Tarifas</a></li>
    
    @if (prom != null)
    {
        <li><a data-toggle="tab" href="#promocionD">Promoción: Datos</a></li>
        <li><a data-toggle="tab" href="#promocionDes">Promoción: Descripción</a></li>
        <li><a data-toggle="tab" href="#promocionT">Promoción: Tarifas</a></li>
        <li><a data-toggle="tab" href="#promocionI">Promoción: Imagenes</a></li>
    }
  </ul>


<div class="tab-content">
    <div id="impresion" class="tab-pane fade in active">
        <div class="row">
            
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"> Aqui Viene la impresion</h3>
                    </div>
                    @{
                        string url = Request.Url.ToString().Replace("Editar", "VistaImprimir") + "/1";
                        HttpWebRequest request = (HttpWebRequest)WebRequest.Create(url);
                        HttpWebResponse response = (HttpWebResponse)request.GetResponse();
                        Stream stream = response.GetResponseStream();
                        StreamReader reader = new StreamReader(stream, Encoding.UTF8);
                        String responseString = reader.ReadToEnd();
                       
                    }
                    @Html.Raw(responseString)
                </div>
                
            </div>
            
            <!--/.col (left) -->            

        </div>
    </div>
    <div id="datos" class="tab-pane fade">
        <div class="row">
            
            <div class="col-md-6">

                <form id="formEnviarEmail" method="post" name="formEnviarEmail" class="bv-form" style="display:none" data-toggle="validator">  
                
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title"> Enviar por email a:</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                    

                            <div class="box-footer" id="botonesCorreoOculto">
                                <button type="submit" id="enviarMail" class="btn btn-primary" ><i class="fa fa-envelope"></i>&nbspEnviar</button>
                                <button type="button" id="cargandoMail" class="btn btn-primary" style='display:none;'><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Cargando...</button>
                                <button type="button" id="cancelarMail" class="btn btn-primary" onclick="javascript:cancelarCampos2('enviarCotizacionMail', 'formEnviarEmail', 'hdnCorreo')"><i class="fa fa-close"></i>&nbspCancelar</button>
                            </div>

                            <div class="box-body">

                                <div class="form-group">
                                    <label for="email">Correo electrónico del destinatario:</label>
                                    <input type="email" id="hdnCorreo" name="hdnCorreo" class="form-control" placeholder="Indique la direccion de correo para enviar." 
                                        required data-required-error="Introduzca un email válido">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>   
                            
                            @if (IsPost && Request.Form["hdnCorreo"] != null && Request.Form["hdnCorreo"].ToString() != "")
                            {

                                try
                                {
                                    System.Collections.Generic.List<InlineAttachment> inlineAttachments = new System.Collections.Generic.List<InlineAttachment>();
                                    inlineAttachments.Add(new InlineAttachment(Request.MapPath("/Content/img/logo_passarini.gif"), "/Content/img/logo_passarini.gif", "image/gif"));
                                    inlineAttachments.Add(new InlineAttachment(Request.MapPath("/Content/img/status_anulada.gif"), "/Content/img/status_anulada.gif", "image/gif"));
                                    inlineAttachments.Add(new InlineAttachment(Request.MapPath("/Content/img/status_emitida.gif"), "/Content/img/status_emitida.gif", "image/gif"));
                                    inlineAttachments.Add(new InlineAttachment(Request.MapPath("/Content/img/status_solicitada.gif"), "/Content/img/status_solicitada.gif", "image/gif"));

                                    int codigoPermiso = -1;
                                    if (usuario.perteneceARol(Rol.rolCotizar))
                                    {
                                        codigoPermiso = usuario.obtenerAsociacionDeRol(Rol.rolCotizar);
                                    }
                                    if (usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                                    {
                                        codigoPermiso = usuario.obtenerAsociacionDeRol(Rol.rolSupervisorCotizaciones);
                                    }

                                    if (codigoPermiso > 0 && cot.status == Status.statusSolicitada)
                                    {
                                        Cotizaciones cambiarStatus = new Cotizaciones(ctx);
                                        cambiarStatus.cambiarStatusCotizacion(cot.codigo_cotizacion, 'C');
                                        cambiarStatus.registrarFechaStatus(codigoDeCotizacion, DateTime.Now, 'C', codigoPermiso);
                                        cot = new Cotizacion(ctx, cot.codigo_cotizacion);
                                    }
                                    Auxiliares auxiliares = new PromoCotizaciones.business.Auxiliares(ctx);
                                    auxiliares.enviarEmailHTML(usuario.email, Request.Form["hdnCorreo"].ToString(), "", "Envío por email de Cotizacion Nro. " + cot.codigo_cotizacion, Request.Url.ToString().Replace("EditarCotizacion", "EnviarCorreo") + "/1", inlineAttachments);

                                }
                                catch (Exception ex)
                                {
                                    //throw new Exception("Ha ocurrido un error enviando el email de confirmación. Por favor comuníquese con el administrador.", ex);
                                    //throw ex;
                                }
                            }        
                    
                        </div>
                        <!-- /.box -->
                

                </form>

                <form id="formImprimir" method="post" name="formImprimir" class="bv-form" style="display:none">  
                    <div class="box-body">

                        <div class="form-group">
                            <input type="text" id="hdnImprimir" name="hdnImprimir" class="form-control" value="@cot.codigo_cotizacion" >
                        </div>
                    </div>   
                            
                    @if (IsPost && Request.Form["hdnImprimir"] != null && Request.Form["hdnImprimir"].ToString() != "")
                    {

                        try
                        {
                            int codigoPermiso = -1;
                            if (usuario.perteneceARol(Rol.rolCotizar))
                            {
                                codigoPermiso = usuario.obtenerAsociacionDeRol(Rol.rolCotizar);
                            }
                            if (usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                            {
                                codigoPermiso = usuario.obtenerAsociacionDeRol(Rol.rolSupervisorCotizaciones);
                            }

                            if (codigoPermiso > 0 && cot.status == Status.statusSolicitada)
                            {
                                Cotizaciones cambiarStatus = new Cotizaciones(ctx);
                                cambiarStatus.cambiarStatusCotizacion(cot.codigo_cotizacion, 'C');
                                cambiarStatus.registrarFechaStatus(codigoDeCotizacion, DateTime.Now, 'C', codigoPermiso);
                                cot = new Cotizacion(ctx, cot.codigo_cotizacion);
                                //Response.Redirect("/" + empresa + "/EditarCotizacion/" + codigoDeCotizacion + "#datos");
                            }
                        }
                        catch (Exception ex)
                        {
                            //throw new Exception("Ha ocurrido un error enviando el email de confirmación. Por favor comuníquese con el administrador.", ex);
                            //throw ex;
                        }
                    }        
                    
                        
                        <!-- /.box -->
                

                </form>

                <form id="formDescargarPDF" method="post" name="formDescargarPDF" class="bv-form" style="display:none">  
                    <div class="box-body">

                        <div class="form-group">
                            <input type="text" id="hdnDescargar" name="hdnDescargar" class="form-control">
                        </div>
                    </div>  
                
                
                    @if (IsPost && Request.Form["hdnDescargar"] != null && Request.Form["hdnDescargar"].ToString() != "")
                    {

                        try
                        {
                            int codigoPermiso = -1;
                            if (usuario.perteneceARol(Rol.rolCotizar))
                            {
                                codigoPermiso = usuario.obtenerAsociacionDeRol(Rol.rolCotizar);
                            }
                            if (usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                            {
                                codigoPermiso = usuario.obtenerAsociacionDeRol(Rol.rolSupervisorCotizaciones);
                            }

                            if (codigoPermiso > 0 && cot.status == Status.statusSolicitada)
                            {
                                Cotizaciones cambiarStatus = new Cotizaciones(ctx);
                                cambiarStatus.cambiarStatusCotizacion(cot.codigo_cotizacion, 'C');
                                cambiarStatus.registrarFechaStatus(codigoDeCotizacion, DateTime.Now, 'C', codigoPermiso);
                                cot = new Cotizacion(ctx, cot.codigo_cotizacion);
                                //Response.Redirect("/" + empresa + "/EditarCotizacion/" + codigoDeCotizacion + "#datos");
                            }
                        }
                        catch (Exception ex)
                        {
                            //throw new Exception("Ha ocurrido un error enviando el email de confirmación. Por favor comuníquese con el administrador.", ex);
                            //throw ex;
                        }

                        

                    }        
                    
                        
                        <!-- /.box -->
                

                </form>
                
                <form id="formCotizacion" method="post" name="formCotizacion" class="bv-form" data-toggle="validator">  
                
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title"> Editando una Cotización</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                    

                            <div class="box-footer">
                                @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                                {
                                <button type="submit" class="btn btn-primary" onclick="javascript:getTextValue();">Guardar</button>
                                <button type="button" id="btnasignar" class="btn btn-primary"  >Asignar</button> 
                                
                                    if (cot.status == Status.statusSolicitada)
                                    {
                                        <a href="/@empresa/EliminarCotizacionEdit/@codigoDeCotizacion" >
                                            <button type="button" class="btn btn-primary">Anular</button>
                                        </a>
                                    }
                                }
                                <a href="/@empresa/ImprimirCotizacion/@codigoDeCotizacion/1" target="_blank" onclick="javascript:mostrarCargando('imprimirCotizacion', 'hdnImprimir', 'formImprimir');">                      
                                    <button type="button" id="imprimirCotizacion" class="btn btn-primary"  >Imprimir</button> 
                                </a>
                                <button type="button" id="enviarCotizacionMail" class="btn btn-primary" onclick="javascript:mostrarCamposEmail('enviarCotizacionMail', 'formEnviarEmail', 'hdnCorreo','@usuario.email')">Enviar</button>
                                <button type="button" id="btnDescargarPDF" class="btn btn-primary" onclick="javascript:formPDF('hdnDescargar', '@cot.codigo_cotizacion', 'formDescargarPDF');">Descargar PDF</button>
                            </div>

                            <div class="box-body">

                                <div class="form-group">
                                    <label for="CodigoPromo">Codigo de Promocion *</label>
                                    <input type="text" list=promos id="codigo_promocion" name="codigo_promocion" class="form-control" value="@tituloPromo" required data-required-error="@stringErrors">
                                    <div class="help-block with-errors"></div>
                                    <input type="text" id="hddn_codigo_promocion" name="hddn_codigo_promocion" hidden value="">
                                </div>

                                <div class="form-group">
                                    <label for="Nombre">Pasajero *</label>
                                    <input type="text" id="nombre" name="nombre" class="form-control" value="@cot.nombre" required data-required-error="@stringErrors">
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <label for="Telefono">Telefono *</label>
                                    <input type="text" id="telefono" name="telefono" class="form-control" value="@cot.telefono" required data-required-error="@stringErrors">
                                    <div class="help-block with-errors"></div>
                                </div>

                                <div class="form-group">
                                    <label for="Email">Email *</label>
                                    <input type="text" id="email" name="email" class="form-control" value="@cot.email" required data-required-error="Introduzca un email válido">
                                    <div class="help-block with-errors"></div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="NumAdultos">Numero de adultos</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="NumNinos">Numero de niños</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="NumInfantes">Numero de infantes</label>
                                    </div>
                                </div>
                        
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="numero_adultos" class="form-control" name="numero_adultos"> 
                                            @{
                                                for (int i = 1; i <= 100; i++)
                                                {
                                                    if (cot.num_adultos == i)
                                                    { <option value="@i" selected>@i</option> }
                                                    else
                                                    { <option value="@i">@i</option> }
                                                }    
                                            }
                                        </select>
                                    </div>
                                </div>
                        
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="numero_ninos" class="form-control" name="numero_ninos"> 
                                            @{
                                                for (int i = 0; i <= 100; i++)
                                                {
                                                    if (cot.num_ninos == i)
                                                    { <option value="@i" selected>@i</option> }
                                                    else
                                                    { <option value="@i">@i</option> }
                                                }    
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select id="numero_infantes" class="form-control" name="numero_infantes"> 
                                            @{
                                                for (int i = 0; i <= 100; i++)
                                                {
                                                    if (cot.num_infantes == i)
                                                    { <option value="@i" selected>@i</option> }
                                                    else
                                                    { <option value="@i">@i</option> }
                                                }    
                                            }
                                        </select>
                                    </div>
                                </div>   

                                <!--<div class="form-group">
                                    <label for="TextoAdicional">Texto Adicional</label>
                                    <textarea id="texto_adicional" class="textarea" name="texto_adicional" rows="3" class="form-control" value="cot.texto_adicional"></textarea> 
                                    <input type="text" id="descripcionText" name="descripcionText" hidden value="cot.texto_adicional">
                                </div> -->

                                         

                                <input type="text" id="cambiandoStatus" name="cambiandoStatus" hidden value="false">
                    
                                <div class="form-group">
                                    <div id="messages"></div>
                                </div>



                            </div>

                
                
                
                                <!-- /.box-body -->                
                    
                        </div>
                        <!-- /.box -->
                </form>
            </div>
            <div class="col-md-6">
                <form id="formCotizacionUnused" method="post" name="formCotizacionUnused" class="bv-form">

                    
                        <div class="box box-primary">
                            <div class="box-body">

                                <div class="box-header">
                                    <h3 class="box-title"> Datos de la Cotización</h3>
                                </div>

                                <div class="form-group">
                                        <label for="Asesor">Asesor Encargado</label>
                                        <input type="text" id="asesor" name="asesor" class="form-control" disabled value="@asesor.nombre">
                                    </div>

                                <div class="form-group">
                                        <label for="ip">IP</label>
                                        <input type="text" id="ip" name="ip" class="form-control" disabled value="@cot.ip">
                                    </div>

                                    <div class="form-group">
                                        <label for="TextoSolicitud">Texto Solicitud</label>
                                        <input type="text" id="texto_solicitud" name="texto_solicitud" class="form-control" disabled value="@cot.texto_solicitud" >
                                    </div>

                                    <div class="form-group">
                                        <label for="Via">Via</label>
                                        @switch (cot.via)
                                        {
                                            case Cotizacion.viaInternet:
                                                campoVia = "Internet";
                                                break;
                                            case Cotizacion.viaPresencial:
                                                campoVia = "Presencial";
                                                break;
                                        }
                                        <input type="text" id="via" name="via" class="form-control" disabled value="@campoVia">
                                    </div>

                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <input type="text" id="status" name="status" class="form-control" disabled value="@PromoCotizaciones.business.Status.valorStatus(cot.status)">
                                    </div>


                            </div>
                        </div>
                
                </form>
            </div>
            
            <!--/.col (left) -->            

        </div>
    </div>

    <div id="html" class="tab-pane fade">

        @if (IsPost && Request.Form["textoLibre"] != null && Request.Form["textoLibre"] != "")
        {
            Cotizaciones cotEditar = new Cotizaciones(ctx);


            if (bool.Parse(Request.Form["editandoTL"]))
            {
                try
                {
                    cotEditar.actualizarTituloTextoLibre(codigoDeCotizacion, Request.Form["titulo_previo"].ToString(), Request.Form["textoLibre"].ToString());
                }
                catch { }
            }
            else
            {
                try
                {
                    cotEditar.registrarTextoLibre(codigoDeCotizacion, Request.Form["textoLibre"].ToString());
                }
                catch { }
            }

            Response.Redirect("/" + empresa + "/EditarCotizacion/" + codigoDeCotizacion + "#html");
        }

        @{
            DataTable textosLibres = new Cotizaciones(ctx).listarTextosLibres(cot.codigo_cotizacion);
            int iTextoLibre = 0;
        }
        <div class="row">
            <input type="text" id="cantidad_textos_libres" name="cantidad_textos_libres" hidden value="@textosLibres.Rows.Count">
            <div class="col-md-6">
                                      
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <!-- form start -->
                    
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Titulo de texto libre
                                    </th>
                                    <th>
                                        Opciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow textos in textosLibres.Rows)
                                {                            
                                    <tr>
                                        <td>
                                            @textos["Titulo_Texto_Libre"]
                                        </td>
                                        <td>
                                            @{ var editarTL = textos["Titulo_Texto_Libre"].ToString(); }
                                            @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                                            {
                                                <a href="#" id="@editarTL" class="editar_texto_libre"> <span class="glyphicon glyphicon-edit"></span> </a>
                                                <a href="/@empresa/EliminarTextoLibreCotizacion/@codigoDeCotizacion/@textos["Titulo_Texto_Libre"]" onclick="return confirm('¿Estas seguro que deseas eliminar este texto libre?');"> <span class="glyphicon glyphicon-trash" ></span> </a>
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-primary">
                         
                    <div class="box-footer">
                        <button type="button" id="agregarTextoLibre" class="btn btn-primary" onclick="javascript:mostrarCampos('agregarTextoLibre','formAgregarTextoLibre');">Agregar Nuevo</button>
                    </div>

                    <form id="formAgregarTextoLibre" method="post" name="formAgregarTextoLibre" class="bv-form" style="display:none" data-toggle="validator">  
                        <div class="box-footer">
                            @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                            {
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <button type="button" id="cancelarTL" class="btn btn-primary" onclick="javascript:cancelarCampos2('agregarTextoLibre','formAgregarTextoLibre', 'textoLibre');">Cancelar</button>
                            }                        
                        </div>  

                        <div class="box-body">
                            <div class="form-group">
                                <label for="TextoLibre">Título para el texto libre *</label>
                                <input type="text" id="textoLibre" name="textoLibre" class="form-control" required data-required-error="@stringErrors">
                                <div class="help-block with-errors"></div>
                            </div>  

                            <div class="form-group">
                                <div id="texto_libre_validacion"></div>
                            </div>
                        </div>
                    
                        <input type="text" id="editandoTL" name="editandoTL" hidden value="false">
                        <input type="text" id="titulo_previo" name="titulo_previo" hidden>

                    </form>
                
                </div>
            </div>
        </div>

        @if (textosLibres.Rows.Count > 0){
            if (IsPost) { 
            
                for (int i = 0; i < textosLibres.Rows.Count; i++ )
                {
                    if (Request.Unvalidated.Form["texto_libre_" + i] != null && Request.Unvalidated.Form["texto_libre_" + i] != "")
                    {
                        try
                        {
                            Cotizaciones cotEditar = new Cotizaciones(ctx);
                            cotEditar.actualizarTextoTextoLibre(codigoDeCotizacion, Request.Form["titulo_texto_libre_"+i].ToString(), Request.Unvalidated.Form["texto_libre_"+i].ToString());
                        }
                        catch { 
                        
                        }
                    }
                }
                textosLibres = new Cotizaciones(ctx).listarTextosLibres(cot.codigo_cotizacion);   
            }
            
            
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                
                    <h2></h2>
                    <div class="container">
                      <ul class="nav nav-pills">
                        @foreach (DataRow textos in textosLibres.Rows)
                        {
                            string refer = "tl" + iTextoLibre;
                            if (iTextoLibre < 1)
                            { <li class="active"><a data-toggle="pill" href="#@refer">@textos["Titulo_Texto_Libre"]</a></li> }
                            else
                            { <li><a data-toggle="pill" href="#@refer">@textos["Titulo_Texto_Libre"]</a></li> }
                            iTextoLibre++;
                        }
                      </ul>
                      @{iTextoLibre = 0;}
                      <div class="tab-content">
                        @foreach (DataRow textos in textosLibres.Rows)
                        {
                            string refer = "tl" + iTextoLibre;
                            if (iTextoLibre < 1)
                            { 
                                <div id="@refer" class="tab-pane fade in active">
                                    <form id="formTextoLibre_@iTextoLibre" method="post" name="formTextoLibre_@iTextoLibre" class="bv-form">  
                                        <div class="box-footer">
                                            @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                                            {
                                                <button type="submit" class="btn btn-primary">Guardar Texto Libre</button>
                                            }                        
                                        </div>  

                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="Descripcion">Coloque la descripcion</label>
                                                <textarea id="texto_libre_@iTextoLibre" class="textarea" name="texto_libre_@iTextoLibre" rows="3" class="form-control" required ></textarea> 
                                                <input type="text" id="text_texto_libre_@iTextoLibre" name="text_texto_libre_@iTextoLibre" hidden value="@textos["Texto_Libre"]">
                                                <input type="text" id="titulo_texto_libre_@iTextoLibre" name="titulo_texto_libre_@iTextoLibre" hidden value="@textos["Titulo_Texto_Libre"]">
                                            </div>  
                                        </div>
                    
                                    </form>
                                </div> 
                            }
                            else
                            {
                                <div id="@refer" class="tab-pane fade">
                                    <form id="formTextoLibre_@iTextoLibre" method="post" name="formTextoLibre_@iTextoLibre" class="bv-form">  
                                        <div class="box-footer">
                                            @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                                            {
                                                <button type="submit" class="btn btn-primary">Guardar Texto Libre</button>
                                            }                        
                                        </div>  

                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="Descripcion">Coloque la descripcion</label>
                                                <textarea id="texto_libre_@iTextoLibre" class="textarea" name="texto_libre_@iTextoLibre" rows="3" class="form-control" required ></textarea> 
                                                <input type="text" id="text_texto_libre_@iTextoLibre" name="text_texto_libre_@iTextoLibre" hidden value="@textos["Texto_Libre"]">
                                                <input type="text" id="titulo_texto_libre_@iTextoLibre" name="titulo_texto_libre_@iTextoLibre" hidden value="@textos["Titulo_Texto_Libre"]">
                                            </div>  
                                        </div>
                    
                                    </form>
                                </div> 
                            }
                            iTextoLibre++;
                        }
                        
                        
                        
                      </div>
                    </div>   
                   
                </div>
            </div>
        </div>
        }
    <!-- /.box -->
    </div>

    <div id="asignar" class="tab-pane fade">
        <div class="row">
            <div class="col-md-6">
                      
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Asignar Cotización</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->                                   
                    @{
                        
                        DataTable asesores = new Auxiliares(ctx).listarAsesores();
                        int seleccionado = cot.codigo_asesor;    
                    }
                    <form id="formAsignarCotizacion" method="post" name="formAsignarCotizacion" class="bv-form">  
                        <div class="box-body">
                           
                            <div class="form-group">
                                <label for="Asesor">Asesor</label>
                                <select class="form-control" id="codigo_asesor" name="codigo_asesor">
                                    @foreach (DataRow rows in asesores.Rows)
                                    {
                                        int cod_asesor = int.Parse(rows["Codigo_Asesor"].ToString());
                                        if (seleccionado == cod_asesor)
                                        {
                                            <option value="@cod_asesor" selected="selected">@rows["Nombre"]</option>
                                        }
                                        else
                                        {
                                            <option value="@cod_asesor">@rows["Nombre"]</option>
                                        }
                                    }
                                </select>
                            </div>


                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Asignar</button>
                        </div>
                    
                    
                    </form> 
                    @if (IsPost && Request.Form["codigo_asesor"] != null && Request.Form["codigo_asesor"].ToString() != "")
                    {

                        try
                        {

                            Cotizaciones asignarAsesor = new Cotizaciones(ctx);
                            asignarAsesor.cambiarAsesorCotizacion(cot.codigo_cotizacion, int.Parse(Request.Form["codigo_asesor"].ToString()));
                            Response.Redirect("/" + empresa + "/EditarCotizacion/" + cot.codigo_cotizacion + "#datos");

                        }
                        catch (Exception ex)
                        {
                            //throw new Exception("Ha ocurrido un error enviando el email de confirmación. Por favor comuníquese con el administrador.", ex);
                            throw ex;
                        }
                    }    

            
                </div>
                <!-- /.box -->
            </div> <!-- right column -->
      </div>
    </div>

    <div id="tarifas" class="tab-pane fade">
        <div class="row">
            <div class="col-md-6">
                      
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title"> Cantidad de Tarifas: ( @tarifas.Rows.Count )</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Detalle de Tarifa
                                    </th>
                                    <th>
                                        Costo
                                    </th>
                                    <th>
                                        Codigo de Moneda
                                    </th>
                                    <th>
                                        Opciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow tarifa in tarifas.Rows)
                                {                            
                                    <tr>
                                        <td>
                                            @tarifa["Concepto"]
                                        </td>
                                        <td>
                                            @tarifa["Monto"] 
                                        </td>
                                        <td>
                                            @tarifa["Moneda"]
                                        </td>
                                        <td>
                                            @{ var editarTarifa = tarifa["Concepto"].ToString() + "?" + tarifa["Monto"] + "?" + tarifa["Moneda"] + "?" + tarifa["Orden_Tarifa"]; }
                                            @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                                            {
                                                <a href="#" id="@editarTarifa" class="editar_tarifa"> <span class="glyphicon glyphicon-edit"></span> </a>
                                                <a href="/@empresa/EliminarTarifaCotizacion/@codigoDeCotizacion/@tarifa["Orden_tarifa"]" onclick="return confirm('¿Estas seguro que deseas eliminar esta tarifa?');"> <span class="glyphicon glyphicon-trash" ></span> </a>
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="box box-primary">
                    
                    @if (usuario.perteneceARol(Rol.rolCotizar) || usuario.perteneceARol(Rol.rolSupervisorCotizaciones))
                    {
                        <form id="formEditarTarifa" method="post" name="formEditarTarifa" class="bv-form" data-toggle="validator">  
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="Concepto">Concepto</label>
                                    <input type="text" id="tarifa_concepto" name="tarifa_concepto" class="form-control" required data-required-error="@stringErrors">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="Monto">Monto</label>
                                    <input type="text" id="tarifa_monto" name="tarifa_monto" class="form-control" 
                                        pattern="^[0-9]{1,18}|[0-9]{1,18}[,][0-9]{1,2}$" data-pattern-error="El monto debe ser de la forma 12345,67" 
                                        required data-required-error="@stringErrors">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <label for="Moneda"> Moneda </label>
                                    <select class="form-control" id="tarifa_moneda" name="tarifa_moneda">
                                        <option value="DPN">DPN</option>
                                        <option value="DPN/EUROS">DPN/EUROS</option>
                                        <option value="DPN/USD">DPN/USD</option>
                                        <option value="USD">USD</option>
                                        <option value="VEF">VEF</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <div id="validacion_tarifas"></div>
                                </div>

                                <input type="text" id="editando" name="editando" hidden value="false">
                                <input type="text" id="orden_tarifa" name="orden_tarifa" hidden>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary" id="agregarTarifa"> Agregar Tarifa</button>
                                <button type="submit" class="btn btn-primary" id="editarTarifa" style="display:none"> Editar Tarifa</button>
                                <button class="btn btn-primary" id="cancelarEdicion" style="display:none"> Cancelar Edicion</button>
                            </div>

                            
                    
                    
                        </form> 
                    }
                </div>
                <!-- /.box -->
            </div> <!-- right column -->
      </div>
    </div>
    @if (prom != null)
    {
        <div id="promocionD" class="tab-pane fade">
          <h3 class="box-title"> Codigo de promoción: @cot.codigo_promocion</h3>
            <div class="row">
                <div class="col-md-6">

                    <!-- general form elements -->
                    <div class="box box-primary">                    

                        <!-- /.box-header -->
                        <!-- form start -->
                        <form id="formPromo" method="post" name="formPromo" class="bv-form">  
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="Clasificacion">Clasificacion</label>
                                    <input type="text" id="clasificacion" name="clasificacion" class="form-control" readonly value="@PromoCotizaciones.business.Clasificacion.valorClasificacion(prom.codigoClasificacion)">
                                    <input type="text" id="codClas" name="codClas" hidden value="@prom.codigoClasificacion">
                                </div>
                                <div class="form-group">
                                    <!--Dependiendo de la clasificacion-->
                                    <label for="Destino">Destino</label>
                                    <div id="dropDestino">

                                    </div>                        
                                </div>
                                <div class="form-group">
                                    <label for="Titulo">Título</label>
                                    <input type="text" id="titulo" name="titulo" class="form-control" readonly value="@prom.titulo">
                                </div>
                                <div class="form-group">
                                    <label for="SubTitulo">SubTítulo</label>
                                    <input type="text" id="subtitulo" name="subtitulo" class="form-control" readonly value="@prom.subtitulo" >
                                </div>
                                <div class="form-group">
                                    <label for="Orden">Orden</label>
                                    <input type="text" id="orden" name="orden" class="form-control" readonly value="@prom.orden">
                                </div>

                                <div class="form-group">
                                    <label class="control-label ">Valida Desde</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input disabled type="text" id="desde" name="desde" class="form-control pull-right" value="@prom.validaDesde.ToShortDateString()">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label ">Valida Hasta</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input disabled type="text" id="hasta" name="hasta" class="form-control pull-right" value="@prom.validaHasta.ToShortDateString()">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label ">Publicación Desde</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input disabled type="text" id="publicacion_desde" name="publicacion_desde" class="form-control pull-right" value="@prom.publicacion_desde.ToShortDateString()">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label ">Publicación Hasta</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input disabled type="text" id="publicacion_hasta" name="publicacion_hasta" class="form-control pull-right" value="@prom.publicacion_hasta.ToShortDateString()">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="TarifaTipo">Tipo de Tarifa</label>
                                    <input type="text" id="tip" name="tip" class="form-control" readonly value="@prom.tipo_tarifa_consolidada)">
                                </div>
                                <div class="form-group">
                                    <label for="Tarifa">Tarifa</label>
                                    <input type="text" id="tarifa" name="tarifa" class="form-control" readonly value="@prom.tarifaConsolidada">
                                </div>
                                <div class="form-group">
                                    <label for="TarifaMoneda">Moneda</label>
                                    <input type="text" id="tarifaM" name="tarifaM" class="form-control" readonly value="@prom.tarifaConsolidadaMoneda">
                                </div>
                                @if (Tipo_Promocion.esPromoViaje(prom.tipo))
                                {                          
                                    <div class="form-group">
                                        <label for="Operador">Operador</label>
                                        <input type="text" id="operador" readonly name="operador" class="form-control" value="@prom.promo_viaje.operador">
                                    </div>
                                    <div class="form-group">

                                    <label for="Asesor">Asesor</label>
                                    <select disabled id="codigo_asesor" class="form-control" name="codigo_asesor"> 
                                        
                                        @foreach (DataRow dr in dtAsesores.Rows)
                                        {
                                            if (int.Parse(dr["Codigo_Asesor"].ToString()) == prom.promo_viaje.codigo_asesor)
                                            {
                                                <option selected value="@dr["Codigo_Asesor"]">@dr["Nombre"]</option>
                                            }else {
                                                <option value="@dr["Codigo_Asesor"]">@dr["Nombre"]</option> 
                                            }
                                        }    
                                    </select>
                                </div>
                                }


                            </div>
                            <!-- /.box-body -->

                
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (left) -->
        
            <!-- right column -->
            </div>
            <!-- /.row -->
        </div>        
        <div id="promocionDes" class="tab-pane fade">
            <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    @{DataTable textosLibesPromos = new Promociones(ctx).listarTextosLibres(prom.codigoPromocion);}
                    <h2></h2>
                    <div class="container">
                      <ul class="nav nav-pills">
                        @foreach (DataRow textos in textosLibesPromos.Rows)
                        {
                            string refer = "tl" + iTextoLibre;
                            if (iTextoLibre < 1)
                            { <li class="active"><a data-toggle="pill" href="#@refer">@textos["Titulo_Texto_Libre"]</a></li> }
                            else
                            { <li><a data-toggle="pill" href="#@refer">@textos["Titulo_Texto_Libre"]</a></li> }
                            iTextoLibre++;
                        }
                      </ul>
                      @{iTextoLibre = 0;}
                      <div class="tab-content">
                        @foreach (DataRow textos in textosLibesPromos.Rows)
                        {
                            string refer = "tl" + iTextoLibre;
                            if (iTextoLibre < 1)
                            { 
                                <div id="@refer" class="tab-pane fade in active">
                                    @Html.Raw(textos["Texto_Libre"])
                                </div> 
                            }
                            else
                            {
                                <div id="@refer" class="tab-pane fade">
                                    @Html.Raw(textos["Texto_Libre"])
                                </div> 
                            }
                            iTextoLibre++;
                        }
                        
                        
                        
                      </div>
                    </div>   
                   
                </div>
            </div>
        </div>
            <!-- /.row -->
        </div>        
        <div id="promocionT" class="tab-pane fade">
          <h3>Tarifas</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">

                <div class="box-header">
                    <h3 class="box-title">
                        Detalle de Tarifa: ( @tarifas_prom.Rows.Count )</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->

                @if (tarifas_prom.Rows.Count > 0)
                {
                    <div class="box-body table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <tr>
                                <th>
                                    Descripcion
                                </th>
                                <th>
                                    Costo
                                </th>
                                <th>
                                    Codigo de Moneda
                                </th>
                            
                            
                            </tr>
                            @foreach (DataRow det_tarifa in tarifas_prom.Rows)
                            {
                            
                                <tr>
                                    <td>
                                        @det_tarifa["Descripcion"]
                                    </td>
                                    <td>
                                        @det_tarifa["Monto"]
                                    </td>
                                    <td>
                                        @det_tarifa["Codigo_Moneda"]
                                    </td>
                                

                                </tr>
                            }
                        </table>
                    
                    </div>
                }
                
                </div>
            </div>
        </div>
        </div>
        <div id="promocionI" class="tab-pane fade">
            <h3>Imagenes</h3>
            <div class="row">
                <div class="col-md-6"> 
                
                        
                    @{
                        var codigoPromo = prom.codigoPromocion;
                        string archivo = this.Server.MapPath("~/App_Content/" + empresa + "/promociones/headers/header_" + codigoPromo + ".jpg");
                        string foto_header = "/App_Content/" + empresa + "/promociones/headers/header_" + codigoPromo + ".jpg";                
                    }                                           
                        
                            
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">
                                Galería</h3>
                        </div>
                        @{           
                        var paq = "paquete" + prom.codigoPromocion;
                        DirectoryInfo directory = new DirectoryInfo(this.Server.MapPath("~/App_Content/" + empresa + "/promociones/fotos/galerias/") + paq);
                        FileInfo[] files = null;
                        try { files = directory.GetFiles("*.*"); }
                        catch { }
                        }
                        @if (files != null && files.Length > 0)
                        {
                            <table>
                                <tr>
                                    <th>
                                        Imagen
                                    </th>                                                                                        
                                </tr>
                                @foreach (var fot in files)
                                {
                                    string valor = prom.codigoPromocion + "_" + fot.Name;
                                    string foto = "/App_Content/" + empresa + "/promociones/fotos/galerias/paquete" + prom.codigoPromocion + "/" + fot.Name;
                                    <tr>
                                        <td>
                                            <img class="img-responsive imgcategorias" src=@foto alt="" />
                                    
                                        </td> 
                                    </tr>
                                }
                            </table>
                        }
                       
                    </div>
                    <!-- /.box -->

                            
                    @if (prom.destacado)
                    {
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">
                                Banners
                            </h3>
                        </div>


                        @{
                  
                        archivo = this.Server.MapPath("~/App_Content/" + empresa + "/promociones/banners/banner_" + codigoPromo + ".jpg");
                        string foto_banner = "/App_Content/" + empresa + "/promociones/banners/banner_" + codigoPromo + ".jpg";
                        if (File.Exists(archivo))
                        {
                            <table>
                                <tr>
                                    <th>
                                        Imagen
                                    </th>                                                                                       
                                </tr>
                                                
                                <tr>
                                    <td>
                                
                                        <img class="img-responsive imgcategorias" src=@foto_banner alt="" />
                                    
                                    </td>                                                                    

                                </tr>
                        
                            </table>
                        }
                        }                        
                    </div>
                    }
                    else if (prom.codigoClasificacion == 3)
                    { 
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">
                                Banners (Attachments PDFs)
                            </h3>
                        </div>

                        @{
                        archivo = this.Server.MapPath("~/App_Content/" + empresa + "/promociones/attachments/attachment_" + codigoPromo + ".pdf");
                        string pdf = "/App_Content/" + empresa + "/promociones/attachments/attachment_" + codigoPromo + ".pdf";
                        string texto = "attachment_" + codigoPromo + ".pdf";
                        if (File.Exists(archivo))
                        {
                            <table>
                                <tr>
                                    <th>
                                        Imagen
                                    </th>                            
                                                            
                                </tr>
                                                
                                <tr>
                                    <td>
                                        <a href="@pdf" target="_blank"> @texto </a>
                                    </td>                                
                                    
                                </tr>
                        
                            </table>
                        }
                        }
                    
                              
                
                    </div>        
                    }
                </div>
            </div>
        </div>
    }
</div>

<!-- /.row -->

<script type="text/javascript">

    $(function () {

        var loadClasificacion = $("#codClas").val();
            $.ajax({
                url: '/@empresa/Promociones/GetDestino/' + loadClasificacion + '/@(prom != null ? prom.codigoSubclasificacion : 0)',
                success: function (data) {
                    $("#dropDestino").css("display", "inline");
                    $("#dropDestino").html(data);
                    $("#destino").attr("disabled", true);
                }

            });
    })


    $(function () {
        var cantidadTL = document.getElementById("cantidad_textos_libres").value;
        try {
            for (i = 0; i < cantidadTL; i++) {
                $("#texto_libre_" + i).val($('#text_texto_libre_'+i).val());
                $("#texto_libre_" + i).htmlarea({});
            }
            
        } catch (err){
        
        };

    });

    $(function () {
        $("#descripcionP").val($('#descripcionTextProm').val());
        //var descrip = $("#descripcionText").val();
        $("#descripcionP").htmlarea({
            /*loaded: function () {
                this.pasteHTML(descrip);
            }*/
        });

    });

    function getTextValue() {

        var x = $('#codigo_promocion').val();
        var z = $('#promos');
        var val = $(z).find('option[value="' + x + '"]');
        var endval = val.attr('id');
        document.getElementById("hddn_codigo_promocion").value = endval;


    }

    $(".editar_tarifa").click(function () {

        var campoId = $(this).attr("id");
        var values = campoId.split('?');
        var concepto = values[0];
        var monto = values[1];
        var moneda = values[2];
        var orden = values[3];

        var v = moneda.trim();
        var s = document.getElementById("tarifa_moneda");
        for (var i = 0; i < s.options.length; i++) {
            console.log(v +" = "+s.options[i].value);
            if (s.options[i].value == v) {
                s.options[i].selected = true;
                break;
            }
        }

        var url = $(this).attr("href");
        $("#cancelarEdicion").css('display', '');
        $("#editarTarifa").css('display', '');
        $("#agregarTarifa").css('display', 'none');
        document.getElementById("tarifa_monto").value = monto;
        document.getElementById("editando").value = true; 
        document.getElementById("tarifa_concepto").value = concepto;
        document.getElementById("orden_tarifa").value = orden;
        //document.getElementById("tarifa_moneda").selectedIndex = moneda;

    });

    $(".editar_texto_libre").click(function () {
        mostrarCampos('agregarTextoLibre', 'formAgregarTextoLibre');
        var titulo = $(this).attr("id");
        document.getElementById("textoLibre").value = titulo;
        document.getElementById("editandoTL").value = true;
        document.getElementById("titulo_previo").value = titulo;
        
    });

    $("#cancelarEdicion").click(function () {

        $("#cancelarEdicion").css('display', 'none');
        $("#editarTarifa").css('display', 'none');
        $("#agregarTarifa").css('display', '');
        $("#tarifa_concepto").val('');
        $("#tarifa_monto").val('');
        $("#tarifa_moneda").prop("selectedIndex", 0);
        document.getElementById("editando").value = false;
        document.getElementById("orden_tarifa").value = '';


        return false;
    });

    $("#cancelarTL").click(function () {

        document.getElementById("editandoTL").value = false;
        document.getElementById("titulo_previo").value = '';
        return false;
    });

    $("#cambiarStatus").click(function () {        
        document.getElementById("cambiandoStatus").value = true;
    });

    $("#btnasignar").click(function () {
        $('.nav-tabs a[href="#asignar"]').tab('show')
    });

    window.onload = function () {

        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href=#' + url.split('#')[1] + ']').tab('show');
        }

        // With HTML5 history API, we can easily prevent scrolling!
        $('.nav-tabs a').on('shown.bs.tab', function (e) {            
            if (history.pushState) {
                history.pushState(null, null, e.target.hash);
            } else {
                window.location.hash = e.target.hash; //Polyfill for old browsers                
            }
            
        });
        
    }

   
</script>
@if (IsPost && Request.Form["hdnDescargar"] != null && Request.Form["hdnDescargar"].ToString() != "")
{    

    //se realiza Descarga el archivo PDF.
    /*string filename = Request.PhysicalApplicationPath + @"App_Content\" + empresa + @"\cotizaciones\cotizacion_" + Request.Form["hdnDescargar"] + ".pdf";
    string filenameDescarga = "cotizacion_" + Request.Form["hdnDescargar"] + ".pdf";
    var f = new FileInfo(filename);
    if (f.Exists)
    {
        f.Delete();
    }
    string url = Request.Url.ToString().Replace("EditarCotizacion", "DescargarCotizacion") + "/1";
    HttpWebRequest request = (HttpWebRequest)WebRequest.Create(url);
    HttpWebResponse response = (HttpWebResponse)request.GetResponse();
    Stream stream = response.GetResponseStream();
    StreamReader reader = new StreamReader(stream, Encoding.UTF8);
    String responseString = reader.ReadToEnd();
    pdfUtilities.ConvertHtmlToPdf(filename, responseString);*/

    var windowOpen = "window.open('" + Request.Url.ToString().Replace("EditarCotizacion", "Descargar") + "', '_newtab');";
    Response.Write("<script>");
    Response.Write(windowOpen);
    Response.Write("</script>");
    
    
    //Response.End(); // Enviamos todo el encabezado ahora        
    //cot = new Cotizacion(ctx, cot.codigo_cotizacion);

}