﻿@{
    Layout = "~/views/Layouts/_Layout.cshtml";

    
    var attrDefault = HtmlHelper.AnonymousObjectToHtmlAttributes(null);
    attrDefault.Add("class", "form-control");

    var attrTextArea = HtmlHelper.AnonymousObjectToHtmlAttributes(null);
    attrTextArea.Add("class", "textarea");
    attrTextArea.Add("placeholder", "Coloque la descripcion de la promocion");
}

@using System.Data;
@using System.IO;
@using System.Web.Helpers;
@using passarini.web.business.transacciones;
@using passarini.web.business.seguridad;
@using PromoCotizaciones.business;

@{
    string empresa = (String)Context.GetRouteValue("nombreEmpresa");

    BaseContext ctx = new BaseContext(System.Configuration.ConfigurationManager.ConnectionStrings["ConnectionString_" + empresa].ConnectionString);
    Usuario usuario = null;
    if (Session["usuario"] != null)
    {
        usuario = new Usuario(ctx, (String)Session["usuario"]);
    }
    if (usuario == null)
    {
        Response.Redirect("/"+empresa);
    }

    Promociones promociones = new Promociones(ctx);
    DataTable dt = promociones.listarPromociones(false); 
    
    string promos = "";
    promos = "<datalist id=\"promos\"> ";
    foreach (DataRow rows in dt.Rows)
    { promos += "<option id = \""+ rows["Codigo_Promocion"]+"\" value=\"" + rows["Titulo"] + "\">" + rows["Codigo_Promocion"] + "</option>"; }
    promos += "</datalist>";

    string codigoCopiarPromocion = "";
    string copiarPromocion = "";
    
    try {
        codigoCopiarPromocion = Context.GetRouteValue("codigo_promocion");
        copiarPromocion = new Promocion(ctx, int.Parse(codigoCopiarPromocion)).titulo;
    } catch{}

    string stringErrors = "Este campo es obligatorio"; 
    
}

@if (IsPost) {
    int codigoCot;
    Cotizaciones cot = new Cotizaciones(ctx);
    if (Request.Form["codigo_promocion"] != null && Request.Form["codigo_promocion"] != "")
    {
        
        codigoCot = cot.registrarCotizacion(int.Parse(Request.Form["hddn_codigo_promocion"].ToString()), Request.Form["nombre"].ToString(),
                                Request.Form["telefono"].ToString(), Request.Form["email"].ToString(), "",
                                "", Cotizacion.viaPresencial, Cotizacion.statusSolicitada,
                                int.Parse(Request.Form["numero_adultos"].ToString()), int.Parse(Request.Form["numero_ninos"].ToString()),
                                int.Parse(Request.Form["numero_infantes"].ToString()), usuario.obtenerAsociacionDeRol(Rol.rolCotizar));

        try
        {
            Promociones aux = new Promociones(ctx);
            DataTable tarifas = aux.listarTarifa(int.Parse(Request.Form["hddn_codigo_promocion"].ToString()));
            if (tarifas.Rows.Count > 0) {

                int i = 0;
                foreach (DataRow dr in tarifas.Rows) {
                    cot.registrarTarifaCotizacion(codigoCot, dr["Descripcion"].ToString(), dr["Codigo_Moneda"].ToString(), float.Parse(dr["Monto"].ToString()),i);
                    i++;
                }
            }
        }
        catch { 
        
        }
    }
    else {

        
        codigoCot = cot.registrarCotizacion(-1, Request.Form["nombre"].ToString(),
                                Request.Form["telefono"].ToString(), Request.Form["email"].ToString(), "",
                                "", Cotizacion.viaPresencial, Cotizacion.statusSolicitada,
                                int.Parse(Request.Form["numero_adultos"].ToString()), int.Parse(Request.Form["numero_ninos"].ToString()),
                                int.Parse(Request.Form["numero_infantes"].ToString()), usuario.obtenerAsociacionDeRol(Rol.rolCotizar));
        
    }

    cot.registrarFechaStatus(codigoCot, DateTime.Now, 'S', usuario.obtenerAsociacionDeRol(Rol.rolCotizar));
    
    Response.Redirect("/" + empresa + "/Cotizaciones");

}


@Html.Raw(promos)
<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"> Creando una Cotización</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form id="formCotizacion" method="post" name="formCotizacion" class="bv-form" data-toggle="validator">  
                <div class="box-body">

                    <div class="form-group">
                        <label for="CodigoPromo">Nombre de Promoción *</label>
                        <input type="text" list=promos id="codigo_promocion" name="codigo_promocion" class="form-control" value="@copiarPromocion" required data-required-error="@stringErrors">
                        <div class="help-block with-errors"></div>
                        <input type="text" id="hddn_codigo_promocion" name="hddn_codigo_promocion" hidden value="@codigoCopiarPromocion">
                    </div>

                    <div class="form-group">
                        <label for="Nombre">Nombre *</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" required data-required-error="@stringErrors">
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label for="Telefono">Teléfono *</label>
                        <input type="text" id="telefono" name="telefono" class="form-control" required data-required-error="@stringErrors">
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label for="Email">Email *</label>
                        <input type="email" id="email" name="email" class="form-control" required data-required-error="Introduzca un email válido">
                        <div class="help-block with-errors"></div>
                    </div>                    

                    
                    <div class="col-md-4">
                        <label for="NumAdultos">Número de adultos</label>
                    </div>
                    <div class="col-md-4">
                        <label for="NumNinos">Número de niños</label>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="NumInfantes">Número de infantes</label>
                        </div>
                    </div>
                        
                    <div class="col-md-4">
                        <div class="form-group">
                            <select id="numero_adultos" class="form-control" name="numero_adultos"> 
                                @{
                                    for (int i = 1; i <= 100; i++)
                                    {
                                        <option value="@i">@i</option> 
                                    }    
                                }
                            </select>
                        </div>
                    </div>
                        
                    <div class="col-md-4">
                        <div class="form-group">
                            <select id="numero_ninos" class="form-control" name="numero_ninos"> 
                                @{
                                    for (int i = 0; i <= 100; i++)
                                    {
                                        <option value="@i">@i</option> 
                                    }    
                                }
                            </select>
                        </div>
                    </div>

                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <select id="numero_infantes" class="form-control" name="numero_infantes"> 
                                @{
                                    for (int i = 0; i <= 100; i++)
                                    {
                                        <option value="@i">@i</option> 
                                    }    
                                }
                            </select>
                        </div>
                    </div>

                <div class="form-group" style="padding-left:10px">
                    <button type="submit" class="btn btn-primary" onclick="javascript:getTextValue();">Registrar</button>
                </div>

                </div>
                <!-- /.box-body -->                
            </form>
        </div>
        <!-- /.box -->
    </div>
</div>
<!-- /.row -->

<script type="text/javascript">


    function getTextValue() {

        var x = $('#codigo_promocion').val();
        var z = $('#promos');
        var val = $(z).find('option[value="' + x + '"]');
        var endval = val.attr('id');
        document.getElementById("hddn_codigo_promocion").value = endval;

    }

</script>
